<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension point="org.eclipse.ui.editors">   
      <editor 
      	default="true" 
      	name="%Geoshape_example_graphical_editor_name" 
      	extensions="geo" 
      	icon="icons/geoshape.gif" 
      	class="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide.editor.FileDiagramEditorWithFlyoutPalette" 
      	contributorClass="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.parts.DiagramActionBarContributor" 
      	id="GeoshapeEditor">
      </editor>
   </extension>
  
   <extension point="org.eclipse.ui.newWizards">
  	  <category name="%Geoshape_example_wizard_category_name" parentCategory="org.eclipse.ui.Examples" id="org.eclipse.gmf.examples.runtime.diagram.geoshapes"/> 
  	  <wizard name="Geoshape Diagram" icon="icons/geoshape.gif" category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime.diagram.geoshapes" class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.wizards.DiagramCreationWizard" id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.wizard.new.file">
  	  	 <description>
  	  		%Geoshape_example_wizard_description
  	  	 </description>  
  	  </wizard>
  </extension>
  
  <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.providers.DiagramViewProvider">
         <Priority name="Lowest">
         </Priority>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="">
         </context>         
      </viewProvider>
   </extension>
  
  <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.providers.DiagramEditPartProvider">
         <Priority name="Low">
         </Priority>
      </editpartProvider>
   </extension>
  
  <extension id="GeoUiProperties" name="Geoshape UI Properties" point="org.eclipse.gmf.runtime.common.core.propertiesConfiguration">
      <PropertiesConfiguration path="properties/geoshape.properties"/>
   </extension>
   
   
  <extension point="org.eclipse.wst.common.ui.properties.propertyContributor">
     <propertyContributor contributorId="org.eclipse.gmf.examples.runtime.diagram.geoshapes" labelProvider="com.ibm.xtools.modeler.ui.properties.internal.views.ElementLabelProvider">
        <propertyCategory category="General"/>
        <propertyCategory category="Advanced"/>
        <propertyCategory category="Appearance"/>
     </propertyContributor>
  </extension>
  
  <extension point="org.eclipse.wst.common.ui.properties.propertyTabs">
     <propertyTabs contributorId="org.eclipse.gmf.examples.runtime.diagram.geoshapes">
        <propertyTab label="%General" category="General" id="geoshapes.tab.General"/>
        <propertyTab label="%Advanced" category="Advanced" id="geoshapes.tab.Advanced"/>
        <propertyTab label="%Appearance" category="Appearance" id="geoshapes.tab.Appearance"/>
     </propertyTabs>
  </extension>

  <extension point="org.eclipse.wst.common.ui.properties.propertySections">
     <propertySections contributorId="org.eclipse.gmf.examples.runtime.diagram.geoshapes">
        
        <propertySection
              class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.DiagramGeneralSection"
              filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.NotationElementFilter"
              id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.GeneralDiagram"
              tab="geoshapes.tab.General">
           <input type="org.eclipse.gmf.runtime.notation.Diagram"/>
        </propertySection>
        
        <propertySection
              class="section.GeoShapeGeneralSection"
              filter="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.EditPartPropertySectionFilter"
              id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.GeoShapeGeneralSection"
              tab="geoshapes.tab.General">
           <input type="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.editparts.GeoShapeEditPart"/>
        </propertySection>
        
        <propertySection
              class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
              filter="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.EditPartPropertySectionFilter"
              id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.GeoShapeColorsAndFontsPropertySection"
              tab="geoshapes.tab.Appearance">
           <input type="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.editparts.GeoShapeEditPart"/>
        </propertySection>

        <propertySection
              class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectorAppearancePropertySection"
              filter="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.EditPartPropertySectionFilter"
              id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.ConnectorAppearancePropertySection"
              tab="geoshapes.tab.Appearance">
           <input type="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionEditPart"/>           
        </propertySection>
        
        <propertySection 
        	class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.AdvancedPropertySection" 
        	tab="geoshapes.tab.Advanced" 
        	id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.Advanced">
           <input type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"/>
        </propertySection>
                
     </propertySections>
  </extension> 
  
  <extension id="globalActionHandlerProviders" 
  	name="%ext.globalActionHandlerProviders" 
  	point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider 
      	class="org.eclipse.gmf.runtime.diagram.ui.providers.PresentationGlobalActionHandlerProvider" 
      	id="geoshapesGlobalActionHandlerProvider">
         <Priority name="Lowest">
         </Priority>
         <ViewId id="GeoshapeEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete">
               </GlobalActionId>         
               <GlobalActionId actionId="cut">
               </GlobalActionId>
               <GlobalActionId actionId="copy">
               </GlobalActionId>
               <GlobalActionId actionId="paste">
               </GlobalActionId>   
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>
          </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
            id="geoshapesIDEGlobalActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="GeoshapeEditor">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="bookmark">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
  </extension>
  
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="geo" class="org.eclipse.gmf.runtime.emf.core.resources.MResourceFactory">
      </parser>
  </extension>

</plugin>
