<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005, 2014  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension point="org.eclipse.ui.editors">   
      <editor
            class="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide.editor.FileDiagramEditorWithFlyoutPalette"
            contributorClass="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.parts.DiagramActionBarContributor"
            default="true"
            extensions="geo"
            icon="icons/geoshape.gif"
            id="GeoshapeEditor"
            matchingStrategy="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditorMatchingStrategy"
            name="%Geoshape_example_graphical_editor_name">
      </editor>
   </extension>
  
   <extension point="org.eclipse.ui.newWizards">
  	  <category name="%GMF_example_wizard_category_name" parentCategory="org.eclipse.ui.Examples" id="org.eclipse.gmf.examples"/> 
  	  <wizard name="Geoshape Diagram" icon="icons/geoshape.gif" category="org.eclipse.ui.Examples/org.eclipse.gmf.examples" class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.wizards.DiagramCreationWizard" id="org.eclipse.gmf.examples.runtime.diagram.geoshapes.wizard.new.file">
  	  	 <description>
  	  		%Geoshape_example_wizard_description
  	  	 </description>  
  	  </wizard>
  </extension>
  
  <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.providers.DiagramViewProvider">
         <Priority name="Low">
         </Priority>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Geoshape">
         </context>         
      </viewProvider>
   </extension>
  
  <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.nonactivating.DiagramEditPartProvider">
         <Priority name="Medium">
         </Priority>     
	      <context providesRootEditPart="true"/>
      </editpartProvider>
   </extension>
  
  <extension id="GeoUiProperties" name="Geoshape UI Properties" point="org.eclipse.gmf.runtime.common.core.propertiesConfiguration">
      <PropertiesConfiguration path="properties/geoshape.properties"/>
   </extension>
   
   
  

  
  <extension id="globalActionHandlerProviders" 
  	name="%ext.globalActionHandlerProviders" 
  	point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider 
      	class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider" 
      	id="geoshapesGlobalActionHandlerProvider">
         <Priority name="Lowest">
         </Priority>
         <ViewId id="GeoshapeEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete">
               </GlobalActionId>         
               <GlobalActionId actionId="cut">
               </GlobalActionId>
               <GlobalActionId actionId="copy">
               </GlobalActionId>
               <GlobalActionId actionId="paste">
               </GlobalActionId>   
            </ElementType>
          </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
            id="geoshapesIDEGlobalActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="GeoshapeEditor">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="bookmark">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      
      <!--Printing -->
      <GlobalActionHandlerProvider class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider" id="logicPrintGlobalActionHandlerProvider">
         <Priority name="Lowest"/>
         <ViewId id="GeoshapeEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
            id="geoshapesSaveGlobalActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="GeoshapeEditor">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="save">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
  </extension>
  
  <extension id="GeoshapesExampleContributionItemProvider" name="%ext.contributionItemProvider" point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.providers.GeoshapesContributionItemProvider">
         <Priority name="Low"/>
         <partContribution id="GeoshapeEditor">
            <partAction menubarPath="/file/print" id="printPreviewAction">
            </partAction>
         </partContribution>
       </contributionItemProvider>      
   </extension>
      
   <extension id="GeoshapesExampleGroupContributionItemProvider" name="GeoshapesExampleGroupContributionItemProvider" point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
         <Priority name="Low">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
                  objectCount="2+">
               <method
                     name="getDiagramEditDomain().getEditorPart().getEditorSite().getId()"
                     value="GeoshapeEditor"/>     
            </popupStructuredContributionCriteria>     
            <popupAction path="/formatMenu/miscellaneousGroup" id="groupAction">
            </popupAction>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.GroupEditPart">
            	<method
                     name="getDiagramEditDomain().getEditorPart().getEditorSite().getId()"
                     value="GeoshapeEditor"/>     
            </popupStructuredContributionCriteria>                    
            <popupAction path="/formatMenu/miscellaneousGroup" id="ungroupAction">
            </popupAction>   
         </popupContribution>                                 
      </contributionItemProvider>
   </extension>  
  
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="geo" class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
  </extension>
  <extension
     point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
       <paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority name="Medium">
         </Priority>
         <editor id="GeoshapeEditor">
         </editor>
         <contribution>
            <predefinedEntry
                  id="geoshapeDrawer"
                  path="/">
               <expand force="true"/>
            </predefinedEntry>
         </contribution>
      </paletteProvider>
   </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="org.eclipse.gmf.examples.runtime.diagram.geoshapes.internal.preferences.GeoshapesPreferenceInitializer"/>
  </extension>
</plugin>
