<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension id="iconProviders" name="%ext.iconProviders" point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramIconProvider">
         <Priority name="Medium">
         </Priority>         
      </IconProvider>
   </extension>
   
    <extension id="presentationParserProviders" name="%ext.presentationParserProviders" point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramParserProvider">
         <Priority name="Low">
         </Priority>
      </ParserProvider>
   </extension>
   
    <extension
         id="presentationPropertiesProvider"
         name="%ext.presentationPropertiesProvider"
         point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
      <PropertiesProvider
            verifyPluginLoaded="false"
            class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramPropertiesProvider">
         <Priority
               name="Medium">
         </Priority>
      </PropertiesProvider>
   </extension>
   
   <extension id="presentationDecoratorProvider" name="%ext.presentationDecoratorProvider" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramDecoratorProvider">
         <Priority name="Lowest">
         </Priority>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW">
         </object>
         <context decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
   
   <extension id="presentationContributionItemProvider" name="%ext.presentationContributionItemProvider" point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramContributionItemProvider" checkPluginLoaded="false">
         <Priority name="Lowest">
         </Priority>
         <partContribution class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart"> 
            <partMenu menubarPath="/project" id="diagramMenu">
            </partMenu>
            <!-- toolbar menu groups -->
            <partMenuGroup toolbarPath="/" id="toolbarFontGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolbarColorLineGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolbarCopyAppearanceGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolBarViewGroup">
	        </partMenuGroup>   
            <partMenuGroup toolbarPath="/" id="toolbarEditGroup">
            </partMenuGroup>            
            <partMenuGroup toolbarPath="/" id="toolbarFormatGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolbarFilterGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolbarNavigateGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolbarRestGroup">
            </partMenuGroup>
            <partMenuGroup toolbarPath="/" id="toolbarAdditions">
            </partMenuGroup>
            <!-- Diagram menu menu groups -->
            <partMenuGroup menubarPath="/diagramMenu/" id="fontColorLineGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/" id="formatGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/" id="sizeGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/" id="filterGroup">
            </partMenuGroup>
            
            <partMenu menubarPath="/diagramMenu/filterGroup" id="filtersMenu">
            </partMenu>
            <partMenuGroup menubarPath="/diagramMenu/filtersMenu/" id="expandFilterGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/filtersMenu/" id="relationshipsGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/filtersMenu/" id="miscellaneousGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/filtersMenu/" id="additions">
            </partMenuGroup>            
            
            <partMenuGroup menubarPath="/diagramMenu/" id="viewGroup">
            </partMenuGroup>
             <partMenuGroup menubarPath="/diagramMenu/" id="copyAppearanceGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/" id="navigateGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/" id="additionsGroup">
	        </partMenuGroup>   
            
            <partAction global="true" id="undo">
            </partAction>
            <partAction global="true" id="redo">
            </partAction>
            <partAction global="true" id="delete">
            </partAction>
            <partAction global="true" id="cut">
            </partAction>
            <partAction global="true" id="copy">
            </partAction>
            <partAction global="true" id="paste">
            </partAction>
            <partAction global="true" id="open">
            </partAction>
            <partAction global="true" id="save">
            </partAction>
            <partAction global="true" id="print">
            </partAction>
            <partAction global="true" id="find">
            </partAction>
            <partAction global="true" id="properties">
            </partAction>
            <partCustom toolbarPath="/toolbarFontGroup" id="fontNameContributionItem">
            </partCustom>
            <partCustom toolbarPath="/toolbarFontGroup" id="fontSizeContributionItem">
            </partCustom>
            <partAction toolbarPath="/toolbarFontGroup" id="fontBoldAction">
            </partAction>
            <partAction toolbarPath="/toolbarFontGroup" id="fontItalicAction">
            </partAction>
            <partCustom toolbarPath="/toolbarColorLineGroup" id="fontColorContributionItem">
            </partCustom>
            <partAction menubarPath="/diagramMenu/fontColorLineGroup" id="fontDialogAction">
            </partAction>            
            <partCustom menubarPath="/diagramMenu/fontColorLineGroup" toolbarPath="/toolbarColorLineGroup" id="fillColorContributionItem">
            </partCustom>
            <partCustom menubarPath="/diagramMenu/fontColorLineGroup" toolbarPath="/toolbarColorLineGroup" id="lineColorContributionItem">
            </partCustom>
            <partMenu menubarPath="/diagramMenu/fontColorLineGroup" toolbarPath="/toolbarColorLineGroup" id="routerMenu">
            </partMenu>
            <partMenuGroup menubarPath="/diagramMenu/routerMenu/" toolbarPath="/routerMenu/" id="routerGroup">
            </partMenuGroup>
            <partAction menubarPath="/diagramMenu/routerMenu/routerGroup" toolbarPath="/routerMenu/routerGroup" id="rectilinearRouterAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/routerMenu/routerGroup" toolbarPath="/routerMenu/routerGroup" id="obliqueRouterAction">
            </partAction> 
            <partAction menubarPath="/diagramMenu/routerMenu/routerGroup" toolbarPath="/routerMenu/routerGroup" id="treeRouterAction">
            </partAction>          
            <partAction menubarPath="/diagramMenu/sizeGroup" toolbarPath="/toolbarFormatGroup" id="autoSizeAction">
            </partAction>
            <partAction toolbarPath="/toolbarFilterGroup" id="showConnectorLabels">
            </partAction>
            <partAction toolbarPath="/toolbarFilterGroup" id="hideConnectorLabels">
            </partAction>
            
            <partAction menubarPath="/diagramMenu/filtersMenu/expandFilterGroup" id="sortfilterAction">
            </partAction>           
            <partAction menubarPath="/diagramMenu/copyAppearanceGroup" toolbarPath="/toolbarCopyAppearanceGroup" id="copyAppearancePropertiesAction">
            </partAction>
            <partMenu menubarPath="/diagramMenu/formatGroup" toolbarPath="/toolbarViewGroup" id="selectMenu">
            </partMenu>
            <partMenuGroup menubarPath="/diagramMenu/selectMenu/" toolbarPath="/selectMenu/" id="selectGroup">
            </partMenuGroup>
            <partAction global="true" menubarPath="/diagramMenu/selectMenu/selectGroup" id="selectAll">
            </partAction>
            <partAction global="true" toolbarPath="/selectMenu/selectGroup" id="toolbarSelectAllAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/selectMenu/selectGroup" id="selectAllShapesAction">
            </partAction>
            <partAction toolbarPath="/selectMenu/selectGroup" id="toolbarSelectAllShapesAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/selectMenu/selectGroup" id="selectAllConnectorsAction">
            </partAction>
            <partAction toolbarPath="/selectMenu/selectGroup" id="toolbarSelectAllConnectorsAction">
            </partAction>

            <partMenu
            	  menubarPath="/diagramMenu/filtersMenu/expandFilterGroup"
                  toolbarPath="/toolbarFilterGroup"
                  id="compartmentMenu">
            </partMenu>
            <partMenuGroup
                  menubarPath="/diagramMenu/filtersMenu/compartmentMenu/"
                  toolbarPath="/compartmentMenu/"
                  id="allCompartmentsGroup">
            </partMenuGroup>
            <partAction
                  menubarPath="/diagramMenu/filtersMenu/compartmentMenu/allCompartmentsGroup"
                  toolbarPath="/compartmentMenu/allCompartmentsGroup"
                  id="allCompartmentsAction">
            </partAction>
            <partAction
                  menubarPath="/diagramMenu/filtersMenu/compartmentMenu/allCompartmentsGroup"
                  toolbarPath="/compartmentMenu/allCompartmentsGroup"
                  id="noCompartmentsAction">
            </partAction> 

            <partMenu menubarPath="/diagramMenu/formatGroup" toolbarPath="/toolbarViewGroup" id="arrangeMenu">
            </partMenu>
            <partMenuGroup menubarPath="/diagramMenu/arrangeMenu/" toolbarPath="/arrangeMenu/" id="arrangeGroup">
            </partMenuGroup>            
             <partAction menubarPath="/diagramMenu/arrangeMenu/arrangeGroup" id="arrangeAllAction">
            </partAction>
            <partAction toolbarPath="/arrangeMenu/arrangeGroup" id="toolbarArrangeAllAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/arrangeMenu/arrangeGroup" id="arrangeSelectionAction">
            </partAction>  
            <partAction toolbarPath="/arrangeMenu/arrangeGroup" id="toolbarArrangeSelectionAction">
            </partAction>                
            <partMenu menubarPath="/diagramMenu/formatGroup" toolbarPath="/toolbarViewGroup" id="alignMenu">
            </partMenu><partMenuGroup menubarPath="/diagramMenu/alignMenu/" toolbarPath="/alignMenu/" id="alignHorizontalGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/alignMenu/" toolbarPath="/alignMenu/" id="alignVerticalGroup">
            </partMenuGroup>
            <partAction menubarPath="/diagramMenu/alignMenu/alignHorizontalGroup" toolbarPath="/alignMenu/alignHorizontalGroup" id="org.eclipse.gef.align_left">
            </partAction>
            <partAction menubarPath="/diagramMenu/alignMenu/alignHorizontalGroup" toolbarPath="/alignMenu/alignHorizontalGroup" id="org.eclipse.gef.align_center">
            </partAction>
            <partAction menubarPath="/diagramMenu/alignMenu/alignHorizontalGroup" toolbarPath="/alignMenu/alignHorizontalGroup" id="org.eclipse.gef.align_right">
            </partAction>
            <partAction menubarPath="/diagramMenu/alignMenu/alignVerticalGroup" toolbarPath="/alignMenu/alignVerticalGroup" id="org.eclipse.gef.align_top">
            </partAction>
            <partAction menubarPath="/diagramMenu/alignMenu/alignVerticalGroup" toolbarPath="/alignMenu/alignVerticalGroup" id="org.eclipse.gef.align_middle">
            </partAction>
            <partAction menubarPath="/diagramMenu/alignMenu/alignVerticalGroup" toolbarPath="/alignMenu/alignVerticalGroup" id="org.eclipse.gef.align_bottom">
            </partAction>
            <partMenu menubarPath="/diagramMenu/formatGroup" id="zorderMenu">
            </partMenu>
            <partMenuGroup menubarPath="/diagramMenu/zorderMenu/" id="zorderGroup">
            </partMenuGroup>
            <partAction menubarPath="/diagramMenu/zorderMenu/zorderGroup" id="bringToFrontAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/zorderMenu/zorderGroup" id="sendToBackAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/zorderMenu/zorderGroup" id="bringForwardAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/zorderMenu/zorderGroup" id="sendBackwardAction">
            </partAction>     
            
            <partMenu menubarPath="/diagramMenu/viewGroup" id="viewMenu">
            </partMenu> 
            <partMenuGroup menubarPath="/diagramMenu/viewMenu/" id="gridGroup">
            </partMenuGroup>                        
            <partMenuGroup menubarPath="/diagramMenu/viewMenu/" id="pageBreaksGroup">
            </partMenuGroup>
            <partMenuGroup menubarPath="/diagramMenu/viewMenu/" id="snapToGroup">
            </partMenuGroup>            
            <partAction menubarPath="/diagramMenu/viewMenu/gridGroup" id="viewGridAction">
            </partAction>            
            <partAction menubarPath="/diagramMenu/viewMenu/gridGroup" id="viewRulerAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/viewMenu/pageBreaksGroup" id="viewPageBreaks">
            </partAction>
            <partAction menubarPath="/diagramMenu/viewMenu/pageBreaksGroup" id="recalcPageBreaks">
            </partAction>
            <partAction menubarPath="/diagramMenu/viewMenu/snapToGroup" id="snapToGridAction">
            </partAction>            
            <partCustom menubarPath="/diagramMenu/viewGroup" toolbarPath="/toolbarNavigateGroup" id="zoomContributionItem">
            </partCustom>
               
            <partMenu menubarPath="/diagramMenu/sizeGroup" id="makeSameSizeMenu">
            </partMenu>
            <partMenuGroup menubarPath="/diagramMenu/makeSameSizeMenu/" id="sameSizeGroup">
            </partMenuGroup>
            <partAction menubarPath="/diagramMenu/makeSameSizeMenu/sameSizeGroup" id="makeSameSizeBothAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/makeSameSizeMenu/sameSizeGroup" id="makeSameHeightAction">
            </partAction>
            <partAction menubarPath="/diagramMenu/makeSameSizeMenu/sameSizeGroup" id="makeSameWidthAction">
            </partAction>                
         </partContribution>         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
<!-- main context menu groups -->
			<popupMenuGroup id="umlAddGroup">
            </popupMenuGroup>			
            <popupMenuGroup id="addGroup">
            </popupMenuGroup>
            <popupMenuGroup id="navigateGroup">
            </popupMenuGroup>  
            <popupMenuGroup id="fileGroup">
            </popupMenuGroup>          
            <popupMenuGroup id="editGroup">
            </popupMenuGroup>
            <popupMenuGroup id="findGroup">
            </popupMenuGroup>
            <popupMenuGroup id="filterFormatGroup">
            </popupMenuGroup> 
            <popupMenuGroup id="viewGroup">
            </popupMenuGroup>            
            <popupMenuGroup id="restGroup">
            </popupMenuGroup>
            <popupMenuGroup id="additions">
            </popupMenuGroup>
            <popupMenuGroup id="propertiesGroup">
            </popupMenuGroup>
<!-- main context menu submenus and their groups -->		
            <popupMenu path="/navigateGroup" id="navigateMenu">
            </popupMenu>
            <popupMenu path="/fileGroup" id="fileMenu">
            </popupMenu>
            <popupMenuGroup path="/fileMenu/" id="saveGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/fileMenu/" id="printGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/navigateMenu/" id="openGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/navigateMenu/" id="showGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/navigateMenu/" id="diagramGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/navigateMenu/" id="additions">
            </popupMenuGroup>            
            <popupMenu path="/editGroup" id="editMenu">
            </popupMenu>
            <popupMenuGroup path="/editMenu/" id="undoGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/editMenu/" id="copyGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/editMenu/" id="additions">
            </popupMenuGroup>       
       	</popupContribution> 
       	
       	<!-- added here for display ordering purposes -->
       	<popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeCompartmentEditPart">
            </popupStructuredContributionCriteria>
            <popupMenu path="/filterFormatGroup" id="selectMenu">
            </popupMenu>
            <popupMenuGroup path="/selectMenu/" id="selectGroup">
            </popupMenuGroup>
            <popupAction path="/selectMenu/selectGroup" id="selectAll">
            </popupAction>
            <popupAction path="/selectMenu/selectGroup" id="selectAllShapesAction">
            </popupAction>
            <popupAction path="/selectMenu/selectGroup" id="selectAllConnectorsAction">
            </popupAction>
            <popupAction path="/filterFormatGroup" id="toolbarArrangeAllAction">
            </popupAction>             
        </popupContribution>  
          
        <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
           <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart">        
            </popupStructuredContributionCriteria> 
            <popupMenu path="/filterFormatGroup" id="formatMenu">
            </popupMenu>
         </popupContribution>    
         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.LabelEditPart">
            </popupStructuredContributionCriteria>
            <popupMenu path="/filterFormatGroup" id="formatMenu">
            </popupMenu>
            <popupMenuGroup path="/formatMenu/" id="miscellaneousGroup">
            </popupMenuGroup>
            <popupAction path="/formatMenu/miscellaneousGroup" id="snapBackAction">
            </popupAction>
          </popupContribution>          
       
        <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">            
            <popupAction path="/findGroup" id="find">
            </popupAction>
             
            <popupMenu path="/filterFormatGroup" id="filtersMenu">
            </popupMenu>
            <popupMenuGroup path="/filtersMenu/" id="expandFilterGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/filtersMenu/" id="relationshipsGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/filtersMenu/" id="miscellaneousGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/filtersMenu/" id="additions">
            </popupMenuGroup>             
            <popupMenuGroup path="/formatMenu/" id="fontFillLineGroup">
            </popupMenuGroup>                
            <popupMenuGroup path="/formatMenu/" id="miscellaneousGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/formatMenu/" id="additions">
            </popupMenuGroup>
            <popupMenuGroup path="/formatMenu/" id="sizeGroup">
            </popupMenuGroup>
             <popupMenuGroup path="/formatMenu/" id="applyAppearanceGroup">
            </popupMenuGroup>
<!-- global actions -->  	
			<popupAction path="/editMenu/copyGroup" id="cut">
            </popupAction>
            <popupAction path="/editMenu/copyGroup" id="copy">
            </popupAction>   
			<popupAction path="/editMenu/copyGroup" id="paste">
            </popupAction>                    
            <popupAction path="/propertiesGroup" id="showPropertiesViewAction">
            </popupAction>
            <popupAction path="/propertiesGroup" id="properties">
            </popupAction>           
<!-- navigate menu actions -->
            <popupMenu path="/navigateMenu/showGroup" id="showInMenu">
            </popupMenu>   
            <popupMenuGroup path="/navigateMenu/showInMenu/" id="additions">
            </popupMenuGroup>       
        </popupContribution>
        
<!-- format menu actions -->           
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart">
            </popupStructuredContributionCriteria>     
            <popupAction path="/formatMenu/applyAppearanceGroup" id="copyAppearancePropertiesAction">
            </popupAction>
            <popupAction path="/formatMenu/fontFillLineGroup" id="fontDialogAction">
            </popupAction>
             <popupCustom path="/formatMenu/fontFillLineGroup" id="fillColorContributionItem">
            </popupCustom>
            <popupCustom path="/formatMenu/fontFillLineGroup" id="lineColorContributionItem">
            </popupCustom>           
            <popupAction path="/addGroup" id="addNoteLinkAction">
            </popupAction>                         
            <popupMenu path="/formatMenu/miscellaneousGroup" id="arrangeMenu">
            </popupMenu>    
            <popupMenuGroup path="/formatMenu/arrangeMenu/" id="arrangeGroup">
            </popupMenuGroup>             
            <popupAction path="/formatMenu/arrangeMenu/arrangeGroup" id="arrangeAllAction">
            </popupAction>   
             <popupAction path="/formatMenu/arrangeMenu/arrangeGroup" id="arrangeSelectionAction">
            </popupAction>              
         </popupContribution>
         
<!-- format and filter menu actions -->         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeEditPart">
            </popupStructuredContributionCriteria>                    
            <popupMenu path="/formatMenu/miscellaneousGroup" id="alignMenu">
            </popupMenu>
            <popupMenuGroup path="/formatMenu/alignMenu/" id="alignHorizontalGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/formatMenu/alignMenu/" id="alignVerticalGroup">
            </popupMenuGroup>
            <popupAction path="/formatMenu/alignMenu/alignHorizontalGroup" id="alignLeftAction">
            </popupAction>
            <popupAction path="/formatMenu/alignMenu/alignHorizontalGroup" id="alignCenterAction">
            </popupAction>
            <popupAction path="/formatMenu/alignMenu/alignHorizontalGroup" id="alignRightAction">
            </popupAction>
            <popupAction path="/formatMenu/alignMenu/alignVerticalGroup" id="alignTopAction">
            </popupAction>
            <popupAction path="/formatMenu/alignMenu/alignVerticalGroup" id="alignMiddleAction">
            </popupAction>
            <popupAction path="/formatMenu/alignMenu/alignVerticalGroup" id="alignBottomAction">
            </popupAction>  
            <popupMenu path="/formatMenu/miscellaneousGroup" id="zorderMenu">
            </popupMenu>
            <popupMenuGroup path="/formatMenu/zorderMenu/" id="zorderGroup">
            </popupMenuGroup>
            <popupAction path="/formatMenu/zorderMenu/zorderGroup" id="bringToFrontAction">
            </popupAction>
            <popupAction path="/formatMenu/zorderMenu/zorderGroup" id="sendToBackAction">
            </popupAction>
            <popupAction path="/formatMenu/zorderMenu/zorderGroup" id="bringForwardAction">
            </popupAction>
            <popupAction path="/formatMenu/zorderMenu/zorderGroup" id="sendBackwardAction">
            </popupAction>                        			
            <popupAction path="/formatMenu/sizeGroup" id="autoSizeAction">
            </popupAction>  
            
            <popupMenu path="/filtersMenu/expandFilterGroup" id="compartmentMenu">
            </popupMenu>
            <popupMenuGroup path="/filtersMenu/compartmentMenu/" id="individualCompartmentsGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/filtersMenu/compartmentMenu/" id="allCompartmentsGroup">
            </popupMenuGroup>
            <popupAction path="/filtersMenu/compartmentMenu/allCompartmentsGroup" id="allCompartmentsAction">
            </popupAction>
            <popupAction path="/filtersMenu/compartmentMenu/allCompartmentsGroup" id="noCompartmentsAction">
            </popupAction>     
         </popupContribution>       
         
         <popupContribution> class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider"
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
            </popupStructuredContributionCriteria>
            <popupAction path="/navigateMenu/openGroup" id="open">
            </popupAction>
            <popupAction path="/fileMenu/printGroup" id="print">
            </popupAction>            
  			<popupMenu path="/navigateMenu/openGroup" id="openWithMenu">
            </popupMenu>       
            <popupMenuGroup path="/navigateMenu/openWithMenu/" id="additions">
            </popupMenuGroup>           
            <popupAction path="/editMenu/undoGroup" id="undo">
            </popupAction>
            <popupAction path="/editMenu/undoGroup" id="redo">
            </popupAction>             
            <popupMenu path="/addGroup" id="diagramAddMenu">
            </popupMenu>
            <popupMenuGroup path="/diagramAddMenu/" separator="true" id="addDiagramGeneralGroup">
            </popupMenuGroup>                       
            <popupAction path="/diagramAddmenu/addDiagramGeneralGroup" id="addNoteAction">
            </popupAction>
            <popupAction path="/diagramAddmenu/addDiagramGeneralGroup" id="addTextAction">
            </popupAction>
         </popupContribution>
         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
            </popupStructuredContributionCriteria>
            <popupAction path="/filtersMenu/expandFilterGroup" id="sortfilterAction">
            </popupAction>
         </popupContribution>
        
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionEditPart">
            </popupStructuredContributionCriteria>
             <popupMenu path="/formatMenu/fontFillLineGroup" id="routerMenu">
            </popupMenu>            
            <popupMenuGroup path="/formatMenu/routerMenu/" id="routerGroup">
            </popupMenuGroup>
            <popupAction path="/formatMenu/routerMenu/routerGroup" id="rectilinearRouterAction">
            </popupAction>
            <popupAction path="/formatMenu/routerMenu/routerGroup" id="obliqueRouterAction">
            </popupAction>
         </popupContribution>
         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
         	<popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ITreeBranchEditPart">
         	</popupStructuredContributionCriteria>
         	<popupAction path="/formatMenu/routerMenu/routerGroup" id="treeRouterAction">
            </popupAction>
         </popupContribution>
         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionNodeEditPart">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
            </popupStructuredContributionCriteria>
         	<popupMenu path="/filtersMenu/expandFilterGroup" id="connectorLabelMenu"/>
            <popupMenuGroup path="/filtersMenu/connectorLabelMenu/" id="individualConnectorLabelsGroup"/>
            <popupMenuGroup path="/filtersMenu/connectorLabelMenu/" id="allConnectorLabelsGroup"/>
            <popupAction path="/filtersMenu/connectorLabelMenu/allConnectorLabelsGroup" id="showConnectorLabels">
            </popupAction>
            <popupAction path="/filtersMenu/connectorLabelMenu/allConnectorLabelsGroup" id="hideConnectorLabels">
            </popupAction>
         </popupContribution>
         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeCompartmentEditPart">
            </popupStructuredContributionCriteria>
            <popupAction path="/formatMenu/arrangeMenu" id="arrangeAllAction">
            </popupAction>
            <popupAction path="/formatMenu/arrangeMenu" id="arrangeSelectionAction">
            </popupAction>
         </popupContribution>

         <!-- View Menu Contributions -->
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                  <method name="isSupportingViewActions()" value="true">
               </method>
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeCompartmentEditPart">
                  <method name="isSupportingViewActions()" value="true">
               </method>
            </popupStructuredContributionCriteria>            
            <popupMenu path="/viewGroup" id="viewMenu">
            </popupMenu>
            <popupCustom path="/viewMenu" id="zoomContributionItem">
            </popupCustom>
            <popupMenuGroup path="/viewMenu/" id="gridGroup">
            </popupMenuGroup>                        
            <popupMenuGroup path="/viewMenu/" id="pageBreaksGroup">
            </popupMenuGroup>
            <popupMenuGroup path="/viewMenu/" id="snapToGroup">
            </popupMenuGroup>            
            <popupAction path="/viewMenu/gridGroup" id="viewGridAction">
            </popupAction>            
            <popupAction path="/viewMenu/gridGroup" id="viewRulerAction">
            </popupAction>
            <popupAction path="/viewMenu/pageBreaksGroup" id="viewPageBreaks">
            </popupAction>
            <popupAction path="/viewMenu/pageBreaksGroup" id="recalcPageBreaks">
            </popupAction>
            <popupAction path="/viewMenu/snapToGroup" id="snapToGridAction">
            </popupAction>
         </popupContribution>
         
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ResizableCompartmentEditPart"/>
            <popupAction path="/filtersMenu/miscellaneousGroup" id="showCompartmentTitle"/>
         </popupContribution>  
            
        <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.internal.editparts.IContainedEditPart">              
            </popupStructuredContributionCriteria> 
            <popupAction path="/editGroup" id="deleteFromDiagramAction">
            </popupAction>            
          </popupContribution>                   
          <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.internal.editparts.IContainedEditPart">
               <method name="getNotationView().getElement()" notValue="null">                  
               </method>               
            </popupStructuredContributionCriteria>
            <popupAction path="/editGroup" id="deleteFromModelAction">
            </popupAction>            
          </popupContribution>
           <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
           <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.NoteEditPart" objectCount="1">
            </popupStructuredContributionCriteria> 
           <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.editparts.GeoShapeEditPart" objectCount="1">
            </popupStructuredContributionCriteria> 
            <popupAction path="/navigateMenu/openGroup" id="OpenAction">
            </popupAction>
         </popupContribution>    
                                                    
      </contributionItemProvider>
   </extension> 
   
   <extension id="printingContributionItemProvider" name="%ext.printingContributionItemProvider" point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.PrintingContributionItemProvider">
         <Priority name="High">
         </Priority>
         <partContribution class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">
            <partAction menubarPath="/file/print" id="pageSetupAction">
            </partAction>
         </partContribution>
      </contributionItemProvider>
   </extension>
   
   <extension id="actionSets" name="%ext.actionSets" point="org.eclipse.ui.actionSets">
      <actionSet label="%Diagram.ActionSet.Label" description="%Diagram.ActionSet.Description" visible="false" id="org.eclipse.gmf.runtime.diagram.ui.DiagramActionSet">
         <action label="%DuplicateActionDelegate.Label" tooltip="%DuplicateActionDelegate.Tooltip" class="org.eclipse.gmf.runtime.diagram.ui.actions.internal.DuplicateActionDelegate" accelerator="ALT+SHIFT+D" menubarPath="edit/cut.ext" id="org.eclipse.gmf.runtime.diagram.ui.actions.internal.DuplicateActionDelegate">
         	<enablement>
            	<objectState name="@canDuplicate" value="enablement">
            	</objectState>
         	</enablement>
         </action>      
      </actionSet>
   </extension>  
   
  <extension id="actionFilterProviders" name="%ext.actionFilterProviders" point="org.eclipse.gmf.runtime.common.ui.services.action.actionFilterProviders">
     <ActionFilterProvider class="org.eclipse.gmf.runtime.diagram.ui.actions.internal.DiagramActionFilterProvider">
        <Priority name="Lowest"/>
        <Attribute name="canDuplicate" value="enablement"/>
        <Attribute name="canDuplicate" value="visibility"/>
     </ActionFilterProvider>
  </extension>
         
  <extension id="presentationViewProvider" name="%ext.presentationViewProvider" point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramViewProvider">
         <Priority name="Lowest">
         </Priority>
         <object class="org.eclipse.gmf.runtime.emf.core.util.IProxyEObject(org.eclipse.gmf.runtime.emf.core)" id="DiagramLink_VP">
            <method name="getProxyClassID()" value="notation.Diagram">
            </method>
         </object>                    
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="Note, Text, Description, DiagramName">
         </context>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="" elements="DiagramLink_VP">
         </context>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="NoteAttachment">
         </context>
      </viewProvider>
   </extension> 
   
   <extension id="presentationEditPartProvider" name="%ext.presentationEditPartProvider" point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramEditPartProvider">
         <Priority name="Lowest">
         </Priority>
         <object class="org.eclipse.gmf.runtime.notation.View" id="ShapesByType">
            <method name="getType()" value="Note, Text, NoteAttachment, DiagramName, Description">
            </method>
         </object>
         <context views="ShapesByType">
         </context>
         <context providesRootEditPart="true"/>
      </editpartProvider>
   </extension>  
   <!--
    &lt;extension
         point=&quot;org.eclipse.ui.preferencePages&quot;&gt;
      &lt;page
            name=&quot;%PreferencePage.Root.Diagrams&quot;            
            class=&quot;org.eclipse.gmf.runtime.diagram.ui.providers.internal.preferences.DiagramsPreferencePage&quot;
            id=&quot;presentation.diagram&quot;&gt;
      &lt;/page&gt;
      &lt;page
            name=&quot;%PreferencePage.Appearance&quot;
            category=&quot;presentation.diagram&quot;
            class=&quot;org.eclipse.gmf.runtime.diagram.ui.providers.internal.preferences.AppearancePreferencePage&quot;
            id=&quot;presentation.diagram&quot;&gt;
      &lt;/page&gt;     
      &lt;page
            name=&quot;%PreferencePage.RulerGrid&quot;
            category=&quot;presentation.diagram&quot;
            class=&quot;org.eclipse.gmf.runtime.diagram.ui.providers.internal.preferences.RulerGridPreferencePage&quot;
            id=&quot;presentation.rulergrid&quot;&gt;
      &lt;/page&gt;
   &lt;/extension&gt;
   -->
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.preferences.PresentationPreferenceInitializer"/>
   </extension>
   
   <extension id="presentationLayoutProvider" name="%ext.presentationLayoutProvider" point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.TopDownProvider">
         <Priority name="Lowest">
         </Priority>
      </layoutProvider>
      <layoutProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.RadialProvider">
         <Priority name="Lowest">
         </Priority>
      </layoutProvider>
   </extension>
   
      <extension id="presentationPaletteProvider" name="%ext.presentationPaletteProvider" point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DefaultPaletteProvider">
         <Priority name="Lowest">
         </Priority>
         <editor class="org.eclipse.gmf.runtime.diagram.ui.parts.DiagramEditor">
         </editor>
         <contribution factoryClass="org.eclipse.gmf.runtime.diagram.ui.internal.services.palette.DiagramPaletteFactory">
             <entry label="%ZoomTool.Label" kind="tool" description="%ZoomTool.Description" large_icon="icons/zoomplus_24x24.gif" small_icon="icons/zoomplus.gif" path="/standardGroup/selectionTool" id="zoomTool">
         	</entry>
            <entry label="%NoteStack.Label" kind="stack" description="%NoteStack.Description" small_icon="icons/note.gif" path="/standardGroup/" id="noteStack">
            </entry>
            <entry label="%NoteTool.Label" kind="tool" description="%NoteTool.Description" path="/standardGroup/noteStack/" large_icon="icons/note_24x24.gif" small_icon="icons/note.gif" id="noteTool">
            </entry>
            <entry label="%TextTool.Label" kind="tool" description="%TextTool.Description" path="/standardGroup/noteStack/" large_icon="icons/text_24x24.gif" small_icon="icons/text.gif" id="textTool">
            </entry>
            <entry label="%NoteAttachmentTool.Label" kind="tool" description="%NoteAttachmentTool.Description" path="/standardGroup/noteStack/" large_icon="icons/noteattachment_24x24.gif" small_icon="icons/noteattachment.gif" id="noteattachmentTool">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>
   
   <extension id="popupMenus" name="%ext.popupMenus" point="org.eclipse.ui.popupMenus">
      <objectContribution objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart" id="org.eclipse.gmf.runtime.diagram.ui.actions.internal.DuplicateActionDelegate">
         <visibility>
             <objectState name="@canDuplicate" value="visibility">
            </objectState>
         </visibility>
         <action enablesFor="+" label="%DuplicateActionDelegate.Label" tooltip="%DuplicateActionDelegate.Tooltip" class="org.eclipse.gmf.runtime.diagram.ui.actions.internal.DuplicateActionDelegate" menubarPath="editMenu/additions" id="org.eclipse.gmf.runtime.diagram.ui.actions.internal.DuplicateActionDelegate">
         	<enablement>
               <objectState name="@canDuplicate" value="enablement">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
   </extension>  
   
   <extension id="DiagramModelingAssistantProvider" name="%ext.modelingAssistantProvider" point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DiagramModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.INodeEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="NODE">
         </object>
         <context elements="NODE">
         </context>
      </modelingAssistantProvider>
   </extension>

</plugin>