<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                -->
<!-- This program and the accompanying materials are made                  -->
<!-- available under the terms of the Eclipse Public License 2.0           -->
<!-- which is available at https://www.eclipse.org/legal/epl-2.0/          -->
<!--                                                                       -->
<!-- SPDX-License-Identifier: EPL-2.0                                      -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension
         id="diagramUIRenderEditPartProvider"
         name="%EditPartProvider.name"
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.internal.providers.DiagramUIRenderEditPartProvider">
         <Priority
               name="Low">
         </Priority>
         <context providesRootEditPart="true"/>
      </editpartProvider>
   </extension>
   
   <extension id="DiagramUIRenderContributionItemProvider" name="%ContributionItemProvider.name" point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider class="org.eclipse.gmf.runtime.diagram.ui.render.internal.providers.DiagramUIRenderContributionItemProvider">
         <Priority name="Low">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"/>
            <popupAction path="/fileMenu/saveGroup" id="CopyToImageAction">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
   </extension>
</plugin>
