<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--                                                                        -->
<!-- Licensed Materials - Property of IBM                                   -->
<!-- (C) Copyright IBM Corp. 2005.  All Rights Reserved.                    -->
<!--                                                                        -->
<!-- US Government Users Restricted Rights - Use, duplication or disclosure -->
<!-- restricted by GSA ADP Schedule Contract with IBM Corp.                 -->
<!--                                                                        -->
<plugin>

     <extension
         id="diagramUIRenderEditPartProvider"
         name="%EditPartProvider.name"
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderEditPartProvider">
         <Priority
               name="Low">
         </Priority>
         <context providesRootEditPart="true"/>
      </editpartProvider>
   </extension>
</plugin>
