<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005, 2006  IBM Corporation and others.                 -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            typeMapper="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ModelElementTypeMapper"
            contributorId="org.eclipse.gmf.runtime.diagram.ui.properties"
            labelProvider="org.eclipse.gmf.runtime.common.ui.services.util.CommonLabelProvider">
         <propertyCategory
               category="Core">
         </propertyCategory>
         <propertyCategory
               category="Appearance">
         </propertyCategory>
          <propertyCategory
               category="Grid">
         </propertyCategory>
         <propertyCategory
               category="Advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
 
 <extension 
    	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs 
      		contributorId="org.eclipse.gmf.runtime.diagram.ui.properties">   
 	     <propertyTab
             category="Appearance"
             id="property.tab.AppearancePropertySection"
             label="%Appearance"/>           
          <propertyTab
             category="Grid"
             id="property.tab.RulerGridPropertySection"
             label="%RulersAndGrid"/>           
          <propertyTab
             category="Advanced"
             id="property.tab.AdvancedPropertySection"
             label="%Advanced"/>           
    </propertyTabs>
 </extension>
 
 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections contributorId="org.eclipse.gmf.runtime.diagram.ui.properties">
	 <propertySection tab="property.tab.AppearancePropertySection" 
	 	filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
	 	class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
	 	id="property.section.ConnectorAppearancePropertySection">
	 </propertySection>
	 <propertySection tab="property.tab.AppearancePropertySection" 
	 	filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
	 	class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
	 	id="property.section.ShapeColorAndFontPropertySection">
	 </propertySection> 
	 <propertySection tab="property.tab.AppearancePropertySection" 
	 	filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
	 	class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
	 	id="property.section.DiagramColorsAndFontsPropertySection">
	 </propertySection>     
	 <propertySection
        afterSection="property.section.ShapeColorAndFontPropertySection"
        class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.TextAlignmentPropertySection"
        filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.TextAlignmentPropertySectionFilter"
        id="property.section.TextAlignmentPropertySection"
        tab="property.tab.AppearancePropertySection">
	 </propertySection>     
	 <propertySection
        class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.AdvancedPropertySection"
        filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.EditPartPropertySectionFilter"
        id="property.section.AdvancedPropertySection"
        tab="property.tab.AdvancedPropertySection">
         </propertySection>            
	 <propertySection tab="property.tab.RulerGridPropertySection" 
	 	filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
	 	class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
	 	id="property.section.RulerGridPropertySection">
	 </propertySection>     
  </propertySections>
</extension>
 
 
   <extension id="org.eclipse.gmf.runtime.diagram.ui.properties.providers.ReadOnlyDiagramPropertiesModifier" name="%ext.readOnlyPropertiesModifier" point="org.eclipse.gmf.runtime.common.ui.services.properties.propertyModifiers">
      <PropertyModifier class="org.eclipse.gmf.runtime.diagram.ui.properties.providers.ReadOnlyDiagramPropertiesModifier">
         <Priority name="Highest">
         </Priority>
		<Provider class="*">
         </Provider>                  
      </PropertyModifier>
   </extension>    

</plugin>
