<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--                                                                        -->
<!-- Licensed Materials - Property of IBM                                   -->
<!-- (C) Copyright IBM Corp. 2005.  All Rights Reserved.                    -->
<!--                                                                        -->
<!-- US Government Users Restricted Rights - Use, duplication or disclosure -->
<!-- restricted by GSA ADP Schedule Contract with IBM Corp.                 -->
<!--                                                                        -->

<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.gmf.runtime.common.ui.preferences.ModelingPreferencePage"
            id="xtools.modeling"
            name="%ModelingPreferencePage.name"/>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.runtime.common.ui.internal.CommonUIPreferencePageInitializer"/>
   </extension>

    
</plugin>
