<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                        -->
<!-- Licensed Materials - Property of IBM                                   -->
<!-- (C) Copyright IBM Corp. 2003, 2004.  All Rights Reserved.              -->
<!--                                                                        -->
<!-- US Government Users Restricted Rights - Use, duplication or disclosure -->
<!-- restricted by GSA ADP Schedule Contract with IBM Corp.                 -->
<!--                                                                        -->
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="editpartProviders" name="%extPoint.editpartProviders" schema="schema/editpartProviders.exsd"/>
   <extension-point id="editpolicyProviders" name="%extPoint.editpolicyProviders" schema="schema/editpolicyProviders.exsd"/>
   <extension-point id="paletteProviders" name="%extPoint.paletteProviders" schema="schema/paletteProviders.exsd"/>
   <extension-point id="layoutProviders" name="%extPoint.layoutProviders" schema="schema/layoutProviders.exsd"/>
   <extension-point id="decoratorProviders" name="%extPoint.decoratorProviders" schema="schema/decoratorProviders.exsd"/>
   <extension-point id="diagramPreferenceStores" name="%extPoint.diagramPreferenceStores" schema="schema/diagramPreferenceStores.exsd"/>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="xtools.modeling"
            class="org.eclipse.gmf.runtime.diagram.ui.internal.preferences.ModelingDiagramsPreferencePage"
            id="presentation.diagram"
            name="%PreferencePage.Root.Diagrams">
      </page>
      <page
            name="%PreferencePage.Appearance"
            category="presentation.diagram"
            class="org.eclipse.gmf.runtime.diagram.ui.internal.preferences.ModelingAppearancePreferencePage"
            id="presentation.appearance">
      </page>     
      <page
            name="%PreferencePage.RulerGrid"
            category="presentation.diagram"
            class="org.eclipse.gmf.runtime.diagram.ui.internal.preferences.ModelingRulerGridPreferencePage"
            id="presentation.rulergrid">
      </page>
      
      <page
            name="%PreferencePage.Printing"
            category="presentation.diagram"
            class="org.eclipse.gmf.runtime.diagram.ui.internal.preferences.ModelingPrintingPreferencePage"
            id="presentation.printing">
      </page>
      
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.runtime.diagram.ui.internal.preferences.ModelingDiagramPreferenceInitializer" />
   </extension>

<!-- Icon Provider -->
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
        <elementTypeFactory
               factory="org.eclipse.gmf.runtime.diagram.ui.internal.type.NotationTypeFactory"
               kind = "org.eclipse.gmf.runtime.diagram.ui.util.INotationType"
               params = "semanticHint">
        </elementTypeFactory>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.presentation.note"     
                icon="icons/note.gif"
                name="%NoteTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="Note"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.presentation.noteAttachment"     
                icon="icons/noteattachment.gif"
                name="%NoteAttachmentTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="NoteAttachment"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.presentation.text"     
                icon="icons/text.gif"
                name="%TextTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="Text"/> 
        </specializationType>
   </extension>

</plugin>
