<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="gmf-runtime-2021-03" sequenceNumber="1655491668">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.test.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.tests.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <repository id="Eclipse-4.19" location="https://download.eclipse.org/eclipse/updates/4.19/R-4.19-202103031800/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <repository id="EMF-2.25" location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.25"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.feature.group" version="3.14.500.v20210310-0557"/>
      <repository id="OCL-6.14" location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.14.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.1.v20200302-1312"/>
      <unit id="org.eclipse.uml2.common.feature.group" version="2.5.0.v20200302-1312"/>
      <repository id="UML2-5.5.1" location="https://download.eclipse.org/modeling/mdt/uml2/updates/5.5/R202003021312/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.batik.anim" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.anim.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.awt.util" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.awt.util.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.bridge" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.bridge.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.codec" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.codec.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.constants" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.constants.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.css" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.css.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.dom" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.dom.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.dom.svg" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.dom.svg.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.ext" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.ext.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.gvt" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.gvt.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.i18n" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.i18n.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.parser" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.parser.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.script" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.script.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.shared.resources" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.shared.resources.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.svggen" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.svggen.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.transcoder" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.transcoder.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.util" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.util.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.xml" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.batik.xml.source" version="1.17.0.v20231215-0830"/>
      <unit id="org.apache.xmlgraphics" version="2.9.0.v20230916-1600" />
      <unit id="org.apache.xmlgraphics.source" version="2.9.0.v20230916-1600" />
      <unit id="org.apache.commons.commons-io" version="2.15.1"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.hamcrest" version="2.2.0"/>
      <unit id="org.eclipse.orbit.xml-apis-ext" version="1.0.0.v20230923-0644"/>
	  <repository id="Orbit" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/nightly/latest"/>
    </location>    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Validation-1.13.2" location="https://download.eclipse.org/modeling/emf/validation/updates/releases/R202208271102/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Transaction-1.13" location="https://download.eclipse.org/modeling/emf/transaction/updates/releases/R202208110935/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.13.0.202004160913"/>
      <repository id="GMF-Notation-1.13.0" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202004160913/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <repository id="GEF-Classic" location="https://download.eclipse.org/tools/gef/classic/releases/3.14.0"/>
    </location>
  </locations>
</target>
