<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="gmf-runtime-2024-09" sequenceNumber="1655491792">
  <locations>
    <location type="Target" uri="file:${project_loc:/org.eclipse.gmf.runtime.target}/common.target"/>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.eclipse.platform.ide" version="0.0.0"/>
      <repository id="Eclipse-4.33" location="https://download.eclipse.org/eclipse/updates/4.33/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
      <repository id="EMF-2.39" location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.39.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
      <repository id="OCL-6.22" location="https://download.eclipse.org/modeling/mdt/ocl/builds/release/6.22.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.common.feature.group" version="0.0.0"/>
      <repository id="UML2-5.5.3" location="https://download.eclipse.org/modeling/mdt/uml2/updates/5.5/R202211161811/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Validation-1.14.0" location="https://download.eclipse.org/modeling/emf/validation/updates/releases/R202408231629/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <repository id="EMF-Transaction-1.14.0" location="https://download.eclipse.org/modeling/emf/transaction/updates/releases/R202408231629/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <repository id="GMF-Notation-1.13.1" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202211151334"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <repository id="GEF-Classic" location="https://download.eclipse.org/tools/gef/classic/release/3.20.0"/>
    </location>
  </locations>
</target>
