<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

   <extension
         id="NotationMetaModelProvider"
         name="Notation MetaModel Provider"
         point="org.eclipse.gmf.runtime.emf.core.MetaModelProviders">
      <MetaModelProvider
            class="org.eclipse.gmf.runtime.notation.providers.internal.NotationMetaModelProvider">
         <Priority name="Low" />
       </MetaModelProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.clipboard.core.clipboardSupport">
      <factory
            nsURI="http://www.ibm.com/xtools/1.5.0/Notation"
            priority="lowest"
            class="org.eclipse.gmf.runtime.notation.providers.internal.copypaste.ClipboardSupportFactory">
      </factory>
   </extension>

</plugin>
