<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="MetaModelProviders" name="MetaModel Providers" schema="schema/MetaModelProviders.exsd"/>
   <extension-point id="Pathmaps" name="Path Maps" schema="schema/Pathmaps.exsd"/>
   <extension-point id="resourcePolicies" name="Logical Resource Policies" schema="schema/resourcePolicies.exsd"/>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="@@@@@InvalidExtension@@@@@" class="org.eclipse.gmf.runtime.emf.core.resources.MResourceFactory">
      </parser>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="@@@@@EphemeralInvalidExtension@@@@@" class="org.eclipse.gmf.runtime.emf.core.resources.MResourceFactory">
      </parser>
   </extension>
   
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
             id="org.eclipse.gmf.runtime.emf.core.EObjectPropertyTester"
             type="org.eclipse.emf.ecore.EObject"
             namespace="org.eclipse.gmf.runtime.emf.core"
             properties="objectType,canSeparate,isSeparate"
             class="org.eclipse.gmf.runtime.emf.core.internal.expressions.EObjectPropertyTester"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            mandatory="true"
            name="%referentialIntegrityCategory.name"
            id="org.eclipse.gmf.runtime.emf.core.references"/>
      <constraintProvider>
         <package namespaceUri="*"/>
         <package namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
         <constraints categories="org.eclipse.gmf.runtime.emf.core.references">
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.ProxiesResolveConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="%resourceFixupValidation.name"
                  id="org.eclipse.gmf.runtime.emf.core.ResourceFixup"
                  statusCode="1">
               <target class="EObject"/>
               <description>
                  %resourceFixupValidation.description
               </description>
               <message>
                 %resourceFixupValidation.message
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.ProxiesResolveConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="%eobjectFixupValidation.name"
                  id="org.eclipse.gmf.runtime.emf.core.IdFixup"
                  statusCode="2">
               <target class="EObject"/>
               <description>
                  %eobjectFixupValidation.description
               </description>
               <message>
                  %eObjectFixupVlidation.message
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.ActionNotAbandonedConstraint"
                  severity="ERROR"
                  mode="Live"
                  name="%actionNotAbandoned.name"
                  id="org.eclipse.gmf.runtime.emf.core.ActionNotAbandoned"
                  statusCode="3">
               <description>
                  %actionNotAbandoned.description
               </description>
               <!-- Pass-through error message -->
               <message>
                  {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
        <elementTypeFactory
               factory="org.eclipse.gmf.runtime.emf.core.internal.type.HintedTypeFactory"
               kind = "org.eclipse.gmf.runtime.emf.core.internal.util.IHintedType">
        </elementTypeFactory>
   </extension>
   
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.gmf.runtime.emf.core.internal.resourcemap.ResourceMapPackage"
            uri="http://www.ibm.com/RMP-MSL/7.0.0/ResourceMap"/>
   </extension>
   
 </plugin>