<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005, 2006  IBM Corporation and others.                 -->
<!-- This program and the accompanying materials are made                  -->
<!-- available under the terms of the Eclipse Public License 2.0           -->
<!-- which is available at https://www.eclipse.org/legal/epl-2.0/          -->
<!--                                                                       -->
<!-- SPDX-License-Identifier: EPL-2.0                                      -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

   <extension-point id="Pathmaps" name="Path Maps" schema="schema/Pathmaps.exsd"/>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            mandatory="true"
            name="%referentialIntegrityCategory.name"
            id="org.eclipse.gmf.runtime.emf.core.references"/>
      <constraintProvider>
         <package namespaceUri="*"/>
         <package namespaceUri="http://www.eclipse.org/emf/2002/Ecore"/>
         <constraints categories="org.eclipse.gmf.runtime.emf.core.references">
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.ProxiesResolveConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="%resourceFixupValidation.name"
                  id="org.eclipse.gmf.runtime.emf.core.ResourceFixup"
                  statusCode="1">
               <description>
                  %resourceFixupValidation.description
               </description>
               <message>
                 %resourceFixupValidation.message
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.ProxiesResolveConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="%eobjectFixupValidation.name"
                  id="org.eclipse.gmf.runtime.emf.core.IdFixup"
                  statusCode="2">
               <description>
                  %eobjectFixupValidation.description
               </description>
               <message>
                  %eObjectFixupVlidation.message
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.ActionNotAbandonedConstraint"
                  severity="ERROR"
                  mode="Live"
                  name="%actionNotAbandoned.name"
                  id="org.eclipse.gmf.runtime.emf.core.ActionNotAbandoned"
                  statusCode="3">
               <description>
                  %actionNotAbandoned.description
               </description>
               <!-- Pass-through error message -->
               <message>
                  {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package namespaceUri="*"/>
         <constraints categories="org.eclipse.gmf.runtime.emf.core.references">
            <constraint
                  lang="Java"
                  class="org.eclipse.gmf.runtime.emf.core.internal.validation.UUIDConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="%UUIDConstraint.name"
                  id="UUIDConstraint"
                  statusCode="1">
               <description>
                  %UUIDConstraint.description
               </description>
               <message>
                 %UUIDConstraint.message
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
           id="org.eclipse.gmf.runtime.emf.core.EObjectTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="org.eclipse.gmf.runtime.emf.core"
           properties="editingDomain"
           class="org.eclipse.gmf.runtime.emf.core.internal.util.EObjectTester">
       </propertyTester>
   </extension>
   
 </plugin>