<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>
   <extension
         id="IDEDiagramDocumentProviders"
         name="IDE Diagram Document Providers"
         point="org.eclipse.gmf.runtime.diagram.ui.resources.editor.documentProviders">
      <provider
            class="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide.document.FileDiagramDocumentProvider"
            documentType="org.eclipse.gmf.runtime.diagram.ui.resources.editor.document.IDiagramDocument"
            id="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide.FileDiagramDocumentProvider"
            inputTypes="org.eclipse.ui.IFileEditorInput"/>
      <provider
            class="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide.document.StorageDiagramDocumentProvider"
            documentType="org.eclipse.gmf.runtime.diagram.ui.resources.editor.document.IDiagramDocument"
            id="org.eclipse.gmf.runtime.diagram.ui.resources.editor.ide.StorageDiagramDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput"/>
   </extension>

    
</plugin>