<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="semanticProviders" name="%extPoint.semanticProviders" schema="schema/semanticProviders.exsd"/>
   <extension-point id="viewProviders" name="%extPoint.viewProviders" schema="schema/viewProviders.exsd"/>
   
   <extension point="org.eclipse.gmf.runtime.diagram.core.semanticProviders">
      <semanticProvider class="org.eclipse.gmf.runtime.diagram.core.internal.services.semantic.ElementTypeSemanticProvider">
         <Priority name="Lowest">
         </Priority>                  
      </semanticProvider>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
        <metamodel
                nsURI="http://www.eclipse.org/emf/2002/Ecore">
           <metamodelType
                   id="org.eclipse.gmf.runtime.diagram.core.semanticServiceType" 
                   eclass="EObject"
                   edithelper="org.eclipse.gmf.runtime.diagram.core.internal.edithelpers.SemanticServiceEditHelper"> 
           </metamodelType>
        </metamodel>
    </extension>
    
    <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.gmf.runtime.diagram.core.internal.edithelpers.CreateElementRequestAdapterFactory"
            adaptableType="org.eclipse.gmf.runtime.emf.type.core.requests.CreateElementRequest">
         <adapter type="org.eclipse.gmf.runtime.diagram.core.internal.services.semantic.CreateElementRequest"/>
      </factory>
   </extension>

</plugin>
