<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="luna" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20140306-1200"/>
<unit id="org.eclipse.test.feature.group" version="3.6.100.v20140204-1712"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.4.0.v20140306-1807"/>
<unit id="org.eclipse.platform.ide" version="4.4.0.I20140306-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140310-0546"/>
<unit id="org.eclipse.emf.examples.feature.group" version="2.9.0.v20140310-0546"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140310-0546"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140310-0546"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.batik.util.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.svggen" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.swing.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.extension.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.css" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.bridge" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.css.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.bridge.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.extension" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util.gui.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.transcoder" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.ext.awt" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.parser.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.swing" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.svggen.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.parser" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.svg" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.xml" version="1.6.0.v201011041432"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.batik.ext.awt.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.transcoder.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.svg.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.batik.util.gui" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.svg.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.bridge.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.dom.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.ext.awt.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.transcoder.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.svggen.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util.source" version="1.6.0.v201011041432"/>
<unit id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>
<unit id="org.apache.batik.css.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util.gui.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.parser.source" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.xml.source" version="1.6.0.v201011041432"/>
<unit id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
<unit id="org.w3c.dom.smil.source" version="1.0.1.v200903091627"/>
<unit id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v201105210656"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20140227085123/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.feature.group" version="3.4.0.v20140122-1853"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones/5.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140310-0733"/>
<unit id="org.eclipse.uml2.common.feature.group" version="2.0.0.v20140310-0733"/>
<repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/5.0milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.8.0.201403111545"/>
<repository location="http://download.eclipse.org/modeling/emf/query/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.8.0.201403111711"/>
<repository location="http://download.eclipse.org/modeling/emf/validation/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.8.0.201403111536"/>
<repository location="http://download.eclipse.org/modeling/gmp/gmf-notation/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201403111732"/>
<repository location="http://download.eclipse.org/modeling/emf/transaction/updates/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.2.201403090306"/>
<repository location="http://download.eclipse.org/tools/gef/updates/milestones/"/>
</location>
</locations>
</target>