<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005, 2010  Borland Software Corporation and others.    -->
<!-- This program and the accompanying materials are made                  -->
<!-- available under the terms of the Eclipse Public License 2.0           -->
<!-- which is available at https://www.eclipse.org/legal/epl-2.0/          -->
<!--                                                                       -->
<!-- SPDX-License-Identifier: EPL-2.0                                      -->
<!-- Contributors:                                                         -->
<!--    Borland Software Corporation - initial API and implementation      -->
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%newWizardCategories.examples.runtimePDEPlugin"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.gmf.examples.runtime">
      </category>
      
      <!-- Logic Example -->
      <wizard
            name="%newWizards.examples.logic.name"
            icon="icons/logic.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ProjectUnzipperNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.runtime.ui.pde.wizards.logic"
            projectPageTitle="%newWizards.examples.logic.projectPage.title"
            projectPageDescription="%newWizards.examples.logic.projectPage.desc"
            projectName="%newWizards.examples.logic.projectName">
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.logic"
            	nameFormat = "{0}">
           </project> 	
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.logic.model"
            	nameFormat = "{0}.semantic">
           </project> 	
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.logic.model.edit"
            	nameFormat = "{0}.semantic.edit">
           </project> 	
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.logic.model.editor"
            	nameFormat = "{0}.semantic.editor">
           </project> 	
         <description>
            %newWizards.examples.logic.desc
         </description>
      </wizard>  
      
      <!-- Geoshape Example -->
      <wizard
            name="%newWizards.examples.geoshapes.name"
            icon="icons/geoshape.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ProjectUnzipperNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.ui.pde.wizards.geoshapes"
            projectPageTitle="%newWizards.examples.geoshapes.projectPage.title"
            projectPageDescription="%newWizards.examples.geoshapes.projectPage.desc"
            projectName="%newWizards.examples.geoshapes.projectName">
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.geoshapes">
           </project> 	
         <description>
            %newWizards.examples.geoshapes.desc
         </description>
      </wizard>  

	  <!-- Square Layout Provider Example -->       
      <wizard
            name="%newWizards.examples.layoutservice.name"
            icon="icons/diagram2.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ProjectUnzipperNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.ui.pde.wizards.layoutService"
            projectPageTitle="%newWizards.examples.layoutservice.projectPage.title"
            projectPageDescription="%newWizards.examples.layoutservice.projectPage.desc"
            projectName="%newWizards.examples.layoutservice.projectName">
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.layout">
           </project> 	
         <description>
            %newWizards.examples.layoutservice.desc
         </description>
      </wizard>  

	  <!-- Review Decorator Provider Example -->      
      <wizard
            name="%newWizards.examples.decorationservice.name"
            icon="icons/diagram.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ProjectUnzipperNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.ui.pde.wizards.decoratorService"
            projectPageTitle="%newWizards.examples.decorationservice.projectPage.title"
            projectPageDescription="%newWizards.examples.decorationservice.projectPage.desc"
            projectName="%newWizards.examples.decorationservice.projectName">
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.diagram.decorator">
           </project> 	
         <description>
            %newWizards.examples.decorationservice.desc
         </description>
      </wizard>  
      
      <!-- Service Example -->
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ProjectUnzipperNewWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/diagram.gif"
            id="org.eclipse.gmf.examples.runtime.common.service.wizards"
            name="%newWizards.examples.serviceexample.name"
            project="true"
            projectPageTitle="%newWizards.examples.serviceexample.projectPage.title"
            projectPageDescription="%newWizards.examples.serviceexample.projectPage.desc"
            projectName="%newWizards.examples.serviceexample.projectName">
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.common.service">
           </project> 	
         <description>
            %newWizards.examples.serviceexample.description
         </description>
      </wizard>      

	  <!-- Clipboard Support Example -->
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ProjectUnzipperNewWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/clipboard.gif"
            id="org.eclipse.gmf.examples.runtime.common.service.wizards"
            name="%newWizards.examples.clipboard.name"
            project="true"
            projectPageTitle="%newWizards.examples.clipboard.projectPage.title"
            projectPageDescription="%newWizards.examples.clipboard.projectPage.desc"
            projectName="%newWizards.examples.clipboard.projectName">
            <project
            	zipPath = "%zip@org.eclipse.gmf.examples.runtime.emf.clipboard">
           </project>
         <description>
            %newWizards.examples.clipboard.description
         </description>
      </wizard>      
      
   </extension>
</plugin>
