<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%newWizardCategories.examples.runtimePDEPlugin"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.gmf.examples.runtime">
      </category>
      
      <wizard
            name="%newWizards.examples.logic.name"
            icon="icons/logic.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.LogicNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.runtime.ui.pde.wizards.logic">
         <description>
            %newWizards.examples.logic.desc
         </description>
      </wizard>  
      
      <wizard
            name="%newWizards.examples.geoshapes.name"
            icon="icons/geoshape.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.GeoshapeNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.runtime.ui.pde.wizards.geoshapes">
         <description>
            %newWizards.examples.geoshapes.desc
         </description>
      </wizard>  
      
      <wizard
            name="%newWizards.examples.layoutservice.name"
            icon="icons/diagram2.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.LayoutNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.runtime.ui.pde.wizards.layoutService">
         <description>
            %newWizards.examples.layoutservice.desc
         </description>
      </wizard>  
      
      <wizard
            name="%newWizards.examples.decorationservice.name"
            icon="icons/diagram.gif"
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.DecoratorNewWizard"
            project="true"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            id="org.eclipse.gmf.examples.runtime.ui.pde.wizards.decoratorService">
         <description>
            %newWizards.examples.decorationservice.desc
         </description>
      </wizard>  
      
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.gmf.examples.runtime"
            class="org.eclipse.gmf.examples.runtime.ui.pde.internal.wizards.ServiceExampleNewWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/diagram.gif"
            id="org.eclipse.gmf.examples.runtime.common.service.wizards"
            name="%newWizards.examples.serviceexample.name"
            project="true">
         <description>
            %newWizards.examples.serviceexample.description
         </description>
      </wizard>      
      
   </extension>
</plugin>
