<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- This program and the accompanying materials are made                  -->
<!-- available under the terms of the Eclipse Public License 2.0           -->
<!-- which is available at https://www.eclipse.org/legal/epl-2.0/          -->
<!--                                                                       -->
<!-- SPDX-License-Identifier: EPL-2.0                                      -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

   <extension
         id="ContributionItemProvider1"
         name="ContributionItemProvider1"
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.tests.runtime.common.ui.services.action.contributionitem.ContributionItemProvider1">
         <Priority
               name="Lowest">
         </Priority>        
         <partContribution class="org.eclipse.gmf.tests.runtime.common.ui.services.action.contributionitem.MyWorkbenchPart">       
            <partAction menubarPath="/additionsGroup" toolbarPath="/additionsGroup" id="action1">
            </partAction>
            <partMenu menubarPath="/additionsGroup" toolbarPath="/additionsGroup" id="menu1">
            </partMenu>
            <partAction menubarPath="/menu1/additionsGroup" toolbarPath="/additionsGroup" id="action1">
            </partAction>
         </partContribution>         
      </contributionItemProvider>
   </extension> 

   <extension
         id="ContributionItemProvider2"
         name="ContributionItemProvider2"
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.tests.runtime.common.ui.services.action.contributionitem.ContributionItemProvider2">
         <Priority
               name="Low">
         </Priority>         
         <partContribution class="org.eclipse.gmf.tests.runtime.common.ui.services.action.contributionitem.MyWorkbenchPart">       
            <partAction menubarPath="/additionsGroup" toolbarPath="/additionsGroup" global="false" id="action2"/>
            <partMenu menubarPath="/menu1/additionsGroup" toolbarPath="/menu1/additionsGroup" id="menu2"/>
         </partContribution>         
      </contributionItemProvider>
   </extension>

   <!-- testCapabilityFiltering -->   
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="MyActivityID"
            name="MyActivityID"/>
      <activityPatternBinding
            activityId="MyActivityID"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.common\.ui\.services\.action/ContributionItemProvider2"/>
   </extension>
   
   <!-- testPolicy_ClassAttribute -->
   <extension
         id="ContributionItemProvider3"
         name="ContributionItemProvider3"
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.tests.runtime.common.ui.services.action.contributionitem.ContributionItemProvider2">
         <Priority name="Lowest"/>
         <popupContribution class="org.eclipse.jface.action.MenuManager">
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
                  policyClass="org.eclipse.gmf.tests.runtime.common.ui.services.action.contributionitem.ContributionPolicy"/>
            <popupMenu
                  id="org.eclipse.gmf.tests.runtime.common.ui.services.action.popupMenu1"
                  path="/additionsGroup"/>
            <popupMenuGroup
                  id="org.eclipse.gmf.tests.runtime.common.ui.services.action.popupMenuGroup1"
                  path="/"
                  separator="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   
   <!-- testCapabilityFilteringOfSpecificEntries -->
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="MyActivityIDOfSpecificEntries"
            name="MyActivityIDOfSpecificEntries"/>
      <activityPatternBinding
            activityId="MyActivityIDOfSpecificEntries"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.common\.ui\.services\.action/menu2"/>
      <activityPatternBinding
            activityId="MyActivityIDOfSpecificEntries"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.common\.ui\.services\.action/action2"/>
   </extension>  
   
</plugin>
