<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- Copyright (c) 2005  IBM Corporation and others.                -->
<!-- This program and the accompanying materials are made                  -->
<!-- available under the terms of the Eclipse Public License 2.0           -->
<!-- which is available at https://www.eclipse.org/legal/epl-2.0/          -->
<!--                                                                       -->
<!-- SPDX-License-Identifier: EPL-2.0                                      -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->

<plugin>

     <extension-point id="widgetProviders" name="%WidgetProviders" schema="schema/widgetProviders.exsd"/>   
   
	<!--
	Note: The providers are put in the same plugin project for simplicity.  
	-->   
   <extension point="org.eclipse.gmf.examples.runtime.common.service.widgetProviders">
      <widgetProvider class="org.eclipse.gmf.examples.runtime.common.service.providers.WidgetProvider">
         <Priority name="Low"/>
         <orderSize max="5000" min="50"/>
      </widgetProvider>
   </extension>      
   
   <extension point="org.eclipse.gmf.examples.runtime.common.service.widgetProviders">
      <widgetProvider class="org.eclipse.gmf.examples.runtime.common.service.providers.SuperWidgetProvider">
         <Priority name="High"/>
         <orderSize max="10000" min="100"/> 
      </widgetProvider>     
   </extension>   
   
   <extension point="org.eclipse.ui.actionSets">
      <actionSet 
         label="%widgetServiceActionSet"
         visible="true"
         id="org.eclipse.gmf.examples.runtime.common.service.client.actionSet">
         <action id="org.eclipse.gmf.examples.runtime.common.service.client.RunExampleAction"
            label="%runwidget.label"
            menubarPath="org.eclipse.gmf.examples.runtime.menu/additions"
            class="org.eclipse.gmf.examples.runtime.common.service.client.RunExampleAction">
         </action>
         <menu
               label="%sampleMenu"
               id="org.eclipse.gmf.examples.runtime.menu">
         </menu>            
      </actionSet>
   </extension>     
  
</plugin>
