<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

    
<!-- Icon Provider -->
   <extension
         id="iconProviders"
         name="%ext.iconProviders"
         point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider
            class="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoShapeIconProvider">
         <Priority
               name="Medium">
         </Priority>
         <object class="org.eclipse.gmf.runtime.notation.View(org.eclipse.gmf.runtime.notation)" id="GeoShape">
        	 <method name="getType()" value="oval,triangle,rectangle,shadowRectangle,rectangle3D,roundRectangle,hexagon,octagon,pentagon,diamond,cylinder,line"/>
	     </object>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapeType"
               id="GeoshapeType">
         </object>
         <context elements="GeoShape, GeoshapeType">
         </context>
      </IconProvider>
   </extension>

<!-- View Provider -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class=" org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapeViewProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               viewClass="org.eclipse.gmf.runtime.notation.Node"
               semanticHints="oval, triangle, rectangle, shadowRectangle, rectangle3D, roundRectangle, hexagon, octagon, pentagon, diamond, cylinder, polygon">
         </context>
         <context
               viewClass="org.eclipse.gmf.runtime.notation.Edge"
               semanticHints="line">
         </context>
      </viewProvider>
   </extension>
<!-- EditPart Provider -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapeEditPartProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="GeoShapeLine">
        	 <method name="getType()" value="oval,triangle,rectangle,shadowRectangle,rectangle3D,roundRectangle,hexagon,octagon,pentagon,diamond,cylinder"/>
	     </object>
	     <object class="org.eclipse.gmf.runtime.notation.Edge" id="GeoShape">
        	 <method name="getType()" value="line"/>
	     </object>
         <context
               views="GeoShape, GeoShapeLine">
         </context>
      </editpartProvider>
   </extension>
<!-- Pop-up Action Contributions -->
   <extension
         id="GeoshapeContributionItemProvider"
         name="%ext.contributionItemProvider"
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapeContributionItemProvider"
            checkPluginLoaded="false">
         <Priority
               name="High">
         </Priority>
<!--  Add the Add Geometric Shapes menu to the popup menu -->
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
            </popupStructuredContributionCriteria>
                                   
             <popupMenuGroup
                  path="/diagramAddMenu/"
                  separator="true"
                  id="addGeoShapesGroup">
            </popupMenuGroup>
            <popupMenuGroup
                  path="/diagramAddMenu/"
                  separator="true"
                  id="addGeoShapes2Group">
            </popupMenuGroup>            
            
			<!--  Insert the Add Oval menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addOvalAction">
            </popupAction>
			<!--  Insert the Add Triangle menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addTriangleAction">
            </popupAction>
			<!--  Insert the Add Rectangle menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addRectangleAction">
            </popupAction>
			<!--  Insert the Add Diamond menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addDiamondAction">
            </popupAction>
			<!--  Insert the Add Pentagon menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addPentagonAction">
            </popupAction>          
			<!--  Insert the Add Hexagon menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addHexagonAction">
            </popupAction>
			<!--  Insert the Add Octagon menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapesGroup"
                  id="addOctagonAction">
            </popupAction>            
            
			<!--  Insert the Add Shadow Rectangle menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapes2Group"
                  id="addShadowRectangleAction">
            </popupAction>
			<!--  Insert the Add Rounded Rectangle menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapes2Group"
                  id="addRoundRectangleAction">
            </popupAction>
			<!--  Insert the Add 3d Rectangle menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapes2Group"
                  id="add3DRectangleAction">
            </popupAction>
			<!--  Insert the Add Cylinder menu item -->
            <popupAction
                  path="/diagramAddMenu/addGeoShapes2Group"
                  id="addCylinderAction">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
   </extension>
<!-- Palette Provider -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">
         </editor>
         <contribution
               factoryClass="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapePaletteFactory">
            <entry
                  label="%GeoshapeDrawer.Label"
                  kind="drawer"
                  description="%GeoshapeDrawer.Description"
                  path="/"
                  id="geoshapeDrawer">
            </entry>
            <entry
                  label="%OvalTool.Label"
                  kind="tool"
                  description="%OvalTool.Description"
                  large_icon="icons/IconEllipse24.gif"
                  path="/geoshapeDrawer/"
                  small_icon="icons/IconEllipse.gif"
                  id="oval">
            </entry>
            <entry
                  label="%CylinderTool.Label"
                  kind="tool"
                  description="%CylinderTool.Description"
                  large_icon="icons/IconCylinder24.gif"
                  path="/geoshapeDrawer/"
                  small_icon="icons/IconCylinder.gif"
                  id="cylinder">
            </entry>
            <entry
                  label="%RectangleStack.Label"
                  kind="stack"
                  description="%RectangleStack.Description"
                  large_icon="icons/IconRectangle24.gif"
                  small_icon="icons/IconRectangle.gif"
                  path="/geoshapeDrawer/"
                  id="rectangleStack">
            </entry>
            <entry
                  label="%RectangleMultiTool.Label"
                  kind="tool"
                  description="%RectangleMultiTool.Description"
                  large_icon="icons/rectangle_multitype24.gif"
                  path="/geoshapeDrawer/rectangleStack"
                  small_icon="icons/rectangle_multitype.gif"
                  id="rectangleMultiTool">
            </entry>
            <entry
                  label="%RectangleTool.Label"
                  kind="tool"
                  description="%RectangleTool.Description"
                  large_icon="icons/IconRectangle24.gif"
                  path="/geoshapeDrawer/rectangleStack"
                  small_icon="icons/IconRectangle.gif"
                  id="rectangle">
            </entry>
            <entry
                  label="%ShadowRectangleTool.Label"
                  kind="tool"
                  description="%ShadowRectangleTool.Description"
                  large_icon="icons/IconShadowRectangle24.gif"
                  path="/geoshapeDrawer/rectangleStack"
                  small_icon="icons/IconShadowRectangle.gif"
                  id="shadowRectangle">
            </entry>
            <entry
                  label="%3DRectangleTool.Label"
                  kind="tool"
                  description="%3DRectangleTool.Description"
                  large_icon="icons/Icon3DRectangle24.gif"
                  path="/geoshapeDrawer/rectangleStack"
                  small_icon="icons/Icon3DRectangle.gif"
                  id="rectangle3D">
            </entry>
            <entry
                  label="%RoundRectangleTool.Label"
                  kind="tool"
                  description="%RoundRectangleTool.Description"
                  large_icon="icons/IconRoundRectangle24.gif"
                  path="/geoshapeDrawer/rectangleStack"
                  small_icon="icons/IconRoundRectangle.gif"
                  id="roundRectangle">
            </entry>
            <entry
                  label="%PolygonStack.Label"
                  kind="stack"
                  description="%PolygonStack.Description"
                  large_icon="icons/IconPentagon24.gif"
                  small_icon="icons/IconPentagon.gif"
                  path="/geoshapeDrawer/"
                  id="polygonStack">
            </entry>
            <entry
                  label="%PolygonTool.Label"
                  kind="tool"
                  description="%PolygonTool.Description"
                  large_icon="icons/polygon_multitype24.gif"
                  path="/geoshapeDrawer/polygonStack"
                  small_icon="icons/polygon_multitype.gif"
                  id="polygon">
            </entry>
            <entry
                  label="%TriangleTool.Label"
                  kind="tool"
                  description="%TriangleTool.Description"
                  large_icon="icons/IconTriangle24.gif"
                  path="/geoshapeDrawer/polygonStack"
                  small_icon="icons/IconTriangle.gif"
                  id="triangle">
            </entry>
            <entry
                  label="%HexagonTool.Label"
                  kind="tool"
                  description="%HexagonTool.Description"
                  large_icon="icons/IconHexagon24.gif"
                  path="/geoshapeDrawer/polygonStack"
                  small_icon="icons/IconHexagon.gif"
                  id="hexagon">
            </entry>
            <entry
                  label="%OctagonTool.Label"
                  kind="tool"
                  description="%OctagonTool.Description"
                  large_icon="icons/IconOctagon24.gif"
                  path="/geoshapeDrawer/polygonStack"
                  small_icon="icons/IconOctagon.gif"
                  id="octagon">
            </entry>
            <entry
                  label="%PentagonTool.Label"
                  kind="tool"
                  description="%PentagonTool.Description"
                  large_icon="icons/IconPentagon24.gif"
                  path="/geoshapeDrawer/polygonStack"
                  small_icon="icons/IconPentagon.gif"
                  id="pentagon">
            </entry>
            <entry
                  label="%DiamondTool.Label"
                  kind="tool"
                  description="%DiamondTool.Description"
                  large_icon="icons/IconDiamond24.gif"
                  path="/geoshapeDrawer/polygonStack"
                  small_icon="icons/IconDiamond.gif"
                  id="diamond">
            </entry>
            <entry
                  label="%LineTool.Label"
                  kind="tool"
                  description="%LineTool.Description"
                  large_icon="icons/IconLine24.gif"
                  path="/geoshapeDrawer/"
                  small_icon="icons/IconLine.gif"
                  id="line">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>

   <extension
         id="GeoshapeModelingAssistantProvider"
         name="%ext.modelingAssistantProvider"
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider class="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapeModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object
         	class="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.editparts.GeoShapeEditPart(org.eclipse.gmf.runtime.diagram.ui.geoshapes)"
         	id="GEOSHAPE">
         </object>
         <context 
         	elements="GEOSHAPE">
         </context>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.oval"     
                icon="icons/IconEllipse.gif"
                name="%OvalTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="oval"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.triangle"     
                icon="icons/IconTriangle.gif"
                name="%TriangleTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="triangle"/>  
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.rectangle"     
                icon="icons/IconRectangle.gif"
                name="%RectangleTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="rectangle"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.shadowRectangle"     
                icon="icons/IconShadowRectangle.gif"
                name="%ShadowRectangleTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="shadowRectangle"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.3DRectangle"     
                icon="icons/Icon3DRectangle.gif"
                name="%3DRectangleTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="rectangle3D"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.roundRectangle"     
                icon="icons/IconRoundRectangle.gif"
                name="%RoundRectangleTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="roundRectangle"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.hexagon"     
                icon="icons/IconHexagon.gif"
                name="%HexagonTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="hexagon"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.octagon"     
                icon="icons/IconOctagon.gif"
                name="%OctagonTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="octagon"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.pentagon"     
                icon="icons/IconPentagon.gif"
                name="%PentagonTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="pentagon"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.diamond"     
                icon="icons/IconDiamond.gif"
                name="%DiamondTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="diamond"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.cylinder"     
                icon="icons/IconCylinder.gif"
                name="%CylinderTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="cylinder"/> 
        </specializationType>
        <specializationType
                id="org.eclipse.gmf.runtime.diagram.ui.geoshapes.line"     
                icon="icons/IconLine.gif"
                name="%LineTool.Label"
                kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"> 
             <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
             <param name="semanticHint" value="line"/> 
        </specializationType>
    </extension>
</plugin>
