<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<!--

  /*
   *+------------------------------------------------------------------------+
   *| Licensed Materials - Property of IBM                                   |
   *| (C) Copyright IBM Corp. 2004,2005.  All Rights Reserved.               |
   *|                                                                        |
   *| US Government Users Restricted Rights - Use, duplication or disclosure |
   *| restricted by GSA ADP Schedule Contract with IBM Corp.                 |
   *+------------------------------------------------------------------------+
   */

-->
</head>
<body>

Aurora internal packages


<h2>Package Specification</h2>
<p>
Provides a set of classes to use when creating <i>views</i>.
</p>
<p>Each created view façade object has two constructors:</p>
<ul>
<li> Creation constructor: creates the notational element, adds custom properties, initializes the properties with preferred values from the preference store and then creates any required children sub-views.
<li> Incarnation constructor: only aggregates the given notational element.
</ul>
</p>

@canBeSeenBy %level1
</body>
</html>

