<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.1 2005/08/30 13:47:30 sshaw Exp $
 */
-->

<plugin>

    <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ibm.com/xtools/1.5.0/logicsemantic" 
       class = "org.eclipse.gmf.examples.runtime.diagram.logic.model.SemanticPackage" />
  </extension>

</plugin>

