<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml,v 1.3 2006/02/07 15:18:57 mmostafa Exp $
 */
-->

<plugin>

    <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/gmf/examples/runtime/1.0.0/logicsemantic" 
       class = "org.eclipse.gmf.examples.runtime.diagram.logic.model.SemanticPackage" />
  </extension>

</plugin>

