<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005  IBM Corporation and others.                       -->
<!-- All rights reserved. This program and the accompanying materials      -->
<!-- are made available under the terms of the Eclipse Public License v1.0 -->
<!-- which accompanies this distribution, and is available at              -->
<!-- http://www.eclipse.org/legal/epl-v10.html                             -->
<!--                                                                       -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension
      id="diagramIDEContributionItemProvider"
      name="%ext.diagramIDEContributionItemProvider"
      point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.internal.providers.DiagramIDEContributionItemProvider"
         checkPluginLoaded="false">
         <Priority
            name="Low">
         </Priority>
         <partContribution
            class="org.eclipse.gmf.runtime.diagram.ui.parts.IDiagramWorkbenchPart">
               <partAction
                  global="true"
                  id="bookmark">
            </partAction>
         </partContribution>         
      </contributionItemProvider>
   </extension> 
   <extension id="org.eclipse.gmf.runtime.diagram.ui.providers.diagramMarkerNavigationProvider" name="%ext.diagramMarkerNavigationProvider" point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders">
      <MarkerNavigationProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.internal.providers.DiagramMarkerNavigationProvider">
         <Priority name="Lowest">
         </Priority>
         <MarkerType name="org.eclipse.gmf.runtime.common.ui.services.bookmark">
         </MarkerType>
      </MarkerNavigationProvider>
   </extension>

</plugin>