<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2005, 2007  IBM Corporation and others.                 -->
<!-- This program and the accompanying materials are made                  -->
<!-- available under the terms of the Eclipse Public License 2.0           -->
<!-- which is available at https://www.eclipse.org/legal/epl-2.0/          -->
<!--                                                                       -->
<!-- SPDX-License-Identifier: EPL-2.0                                      -->
<!-- Contributors:                                                         -->
<!--    IBM Corporation - initial API and implementation                   -->
<plugin>

     <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="org.eclipse.gmf.tests.runtime.diagram.ui.util.PresentationTestsViewProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               viewClass="org.eclipse.gmf.runtime.notation.Diagram"
               semanticHints="PresentationTestsDiagramKind">
         </context>
       </viewProvider>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor name="Test Diagram Editor"
         default="false"
         icon="images/viewer.gif"
         class="org.eclipse.gmf.tests.runtime.diagram.ui.util.DiagramTestEditor"
         id="org.eclipse.gmf.tests.runtime.diagram.ui.DiagramTestEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.tests.runtime.diagram.ui.util.PresentationTestsEditPartProvider">
      <Priority
               name="Lowest">
      </Priority>
      <object class="org.eclipse.gmf.runtime.notation.Diagram" id="TestDiagram">
        	 <method name="getType()" value="PresentationTestsDiagramKind"/>
	  </object>
	  <context views="TestDiagram">
      </context>
      </editpartProvider>
   </extension>

   <extension id="org.eclipse.gmf.tests.runtime.diagram.ui.MyDecoratorProvider" name="Diagram UI Tests Decorator" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider class="org.eclipse.gmf.tests.runtime.diagram.ui.services.DecoratorServiceTests$TestDecoratorProvider">
         <Priority name="Lowest">
         </Priority>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.NoteEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="NOTE">
         </object>
         <context decoratorTargets="NOTE">
         </context>
      </decoratorProvider>
   </extension>
   
   <!-- Palette providers for predefining palette entries -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Lowest">
         </Priority>
         <contribution
               factoryClass="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapePaletteFactory">
            <entry
            	  defineOnly="true"
                  id="ovalDrawer"
                  kind="drawer"
                  label="ovalDrawer">
            </entry>
            <entry
                  label="oval"
                  kind="tool"
                  path="ovalDrawer/"
                  id="oval">
            </entry>
            <entry
                  label="circle"
                  kind="tool"
                  path="ovalDrawer/"
                  id="circle">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Lowest">
         </Priority>
         <contribution
               factoryClass="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.providers.GeoshapePaletteFactory">
            <entry
            	  defineOnly="true"
                  id="cylinder"
                  kind="tool"
                  label="cylinder">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>
   
   <!-- Verify that this does not remove the predefined entry -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <contribution>
            <predefinedEntry
                  id="/ovalDrawer"
                  remove="true"/>
         </contribution>
      </paletteProvider>
   </extension>
   
   <!-- testPredefineAndContributeEntries -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Medium">
         </Priority>
         <editor
               class="org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests$PaletteServiceTestEditor">
         </editor>
         <contribution>
            <predefinedEntry
                  id="ovalDrawer"
                  path="/"/>
         </contribution>
      </paletteProvider>
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="High">
         </Priority>
         <editor
               class="org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests$PaletteServiceTestEditor">
         </editor>
         <contribution>
            <entry
                  id="ovalAndCylinderDrawer"
                  kind="drawer"
                  label="ovalAndCylinderDrawer"
                  path="/"/>
            <predefinedEntry
                  id="/ovalDrawer/oval"
                  path="/ovalAndCylinderDrawer"/>
            <predefinedEntry
                  id="cylinder"
                  path="/ovalAndCylinderDrawer"/>
         </contribution>
         <contribution>
            <entry
            	  defineOnly="true"
                  id="ovalAndCylinderDrawerDefinedOnly"
                  kind="drawer"
                  label="ovalAndCylinderDrawerDefinedOnly"
                  path="/"/>
            <predefinedEntry
                  id="/ovalDrawer/oval"
                  path="/ovalAndCylinderDrawerDefinedOnly"/>
            <predefinedEntry
                  id="cylinder"
                  path="/ovalAndCylinderDrawerDefinedOnly"/>
         </contribution>
      </paletteProvider>
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Highest">
         </Priority>
         <contribution>
            <predefinedEntry
                  id="ovalAndCylinderDrawer">
               <expand force="true"/>
            </predefinedEntry>
            <predefinedEntry
                  id="ovalAndCylinderDrawerDefinedOnly"
                  path="/">
               <expand force="true"/>
            </predefinedEntry>
            <predefinedEntry
                  id="/ovalDrawer/circle"
                  remove="true"/>
         </contribution>
      </paletteProvider>
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Lowest">
         </Priority>
         <editor
               class="org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests$PaletteServiceTestEditor">
         </editor>
         <contribution>
            <entry
                  id="squareDrawer"
                  kind="drawer"
                  label="squareDrawer"
                  path="/"/>
            <entry
                  label="square"
                  kind="tool"
                  path="squareDrawer/"
                  id="square">
            </entry>
         </contribution>
      </paletteProvider>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               class="org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests$PaletteServiceTestEditor">
         </editor>
         <contribution>
            <entry
                  id="rectangleDrawer"
                  kind="drawer"
                  label="rectangleDrawer"
                  path="/"/>
            <predefinedEntry
                  id="/squareDrawer/square"
                  path="/rectangleDrawer"/>
         </contribution>
      </paletteProvider>
   </extension>   
   
   <!-- testStaticMethodInPaletteExtension -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority name="Lowest"/>
         <editor class="org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests$PaletteServiceTestEditor"/>
         <content>
            <staticMethod
                  name="org.eclipse.gmf.tests.runtime.diagram.ui/org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests.shouldStaticMethodDrawerBeShown()"
                  value="true"/>
         </content>
         <contribution>
            <entry
                  id="staticMethodDrawer"
                  kind="drawer"
                  label="staticMethodDrawer"
                  path="/"/>
         </contribution>
      </paletteProvider>
   </extension>
   
   <!-- testCapabilityFilteringOfSpecificEntries -->
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="MyPaletteActivityProviderID"
            name="MyPaletteActivityProvider"/>
      <activityPatternBinding
            activityId="MyPaletteActivityProviderID"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.diagram\.ui/activityEnabledProviderID"/>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="MyPaletteActivityEntriesID"
            name="MyPaletteActivityEntries"/>
      <activityPatternBinding
            activityId="MyPaletteActivityEntriesID"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.diagram\.ui/activityEnabledDrawerID"/>
      <activityPatternBinding
            activityId="MyPaletteActivityEntriesID"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.diagram\.ui/activityEnabledToolID"/>
      <activityPatternBinding
            activityId="MyPaletteActivityEntriesID"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.diagram\.ui/activityEnabledStackID"/>
      <activityPatternBinding
            activityId="MyPaletteActivityEntriesID"
            pattern="org\.eclipse\.gmf\.tests\.runtime\.diagram\.ui/activityEnabledSeparatorID"/>
   </extension>
   <extension
         id="activityEnabledProviderID"
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority name="Medium"/>
         <editor class="org.eclipse.gmf.tests.runtime.diagram.ui.services.PaletteServiceTests$PaletteServiceTestEditor"/>
         <contribution>
            <entry
                  id="nonActivityDrawerID"
                  kind="drawer"
                  label="nonActivityDrawer"
                  path="/"/>
            <entry
                  label="nonActivityTool"
                  kind="tool"
                  path="nonActivityDrawerID/"
                  id="nonActivityToolID"/>
            <entry
                  label="nonActivityStack"
                  kind="stack"
                  path="nonActivityDrawerID/"
                  id="nonActivityStackID"/>
            <entry
                  label="nonActivitySeparator"
                  kind="separator"
                  path="nonActivityDrawerID/"
                  id="nonActivitySeparatorID"/>
            <entry
                  id="activityEnabledDrawerID"
                  kind="drawer"
                  label="activityEnabledDrawer"
                  path="/"/>
            <entry
                  label="activityEnabledTool"
                  kind="tool"
                  path="/nonActivityDrawerID/nonActivityStackID"
                  id="activityEnabledToolID"/>
            <entry
                  label="activityEnabledStack"
                  kind="stack"
                  path="/nonActivityDrawerID/nonActivitySeparatorID"
                  id="activityEnabledStackID"/>
            <entry
                  label="activityEnabledSeparator"
                  kind="separator"
                  path="nonActivityDrawerID/"
                  id="activityEnabledSeparatorID"/>                                  
         </contribution>
      </paletteProvider>
   </extension>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.diagramEventBrokerProviders">
      <diagramEventBrokerProvider class="org.eclipse.gmf.tests.runtime.diagram.ui.services.LogicDiagramEventBrokerProvider">
         <Priority name="Lowest"/>
         <editingDomain ID="org.eclipse.gmf.examples.runtime.diagram.logicEditingDomain"/>
      </diagramEventBrokerProvider>      
   </extension>

	<!-- Label Tests:  Adds label testing support so that when
	this test plugin is loaded, labels can be tested in the UI -->
<!--
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    	<propertyContributor
        	typeMapper="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ModelElementTypeMapper"
            contributorId="org.eclipse.gmf.runtime.diagram.ui.properties"
            labelProvider="org.eclipse.gmf.runtime.common.ui.services.util.CommonLabelProvider">
        <propertyCategory
        	category="Label">
        </propertyCategory>
      </propertyContributor>
   </extension>
 
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
  	<propertyTabs contributorId="org.eclipse.gmf.runtime.diagram.ui.properties">           
    	<propertyTab
        	category="Label"
            id="property.tab.TextLabelPropertySection"
            label="Label Figure">
        </propertyTab>                   
    </propertyTabs>
  </extension>
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
  	<propertySections contributorId="org.eclipse.gmf.runtime.diagram.ui.properties">           
		<propertySection tab="property.tab.TextLabelPropertySection" 
	 		filter="org.eclipse.gmf.tests.runtime.diagram.ui.label.TextLabelPropertySectionFilter" 
	 		class="org.eclipse.gmf.tests.runtime.diagram.ui.label.TextLabelPropertySection" 
	 		id="property.section.TextLabelPropertySection">
	 	</propertySection>     
  	</propertySections>
  </extension>
-->
  
  	<!-- And again for modeler <START> -->	
<!--
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    	<propertyContributor
        	typeMapper="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ModelElementTypeMapper"
            contributorId="com.ibm.xtools.modeler.ui.properties"
            labelProvider="org.eclipse.gmf.runtime.common.ui.services.util.CommonLabelProvider">
        <propertyCategory
        	category="Label2">
        </propertyCategory>
      </propertyContributor>
   </extension>
 
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
  	<propertyTabs contributorId="com.ibm.xtools.modeler.ui.properties">           
    	<propertyTab
        	category="Label2"
            id="property.tab.TextLabelPropertySection2"
            label="Label Figure">
        </propertyTab>                   
    </propertyTabs>
  </extension>
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
  	<propertySections contributorId="com.ibm.xtools.modeler.ui.properties">           
		<propertySection tab="property.tab.TextLabelPropertySection2" 
	 		filter="org.eclipse.gmf.tests.runtime.diagram.ui.label.TextLabelPropertySectionFilter" 
	 		class="org.eclipse.gmf.tests.runtime.diagram.ui.label.TextLabelPropertySection" 
	 		id="property.section.TextLabelPropertySection2">
	 	</propertySection>     
  	</propertySections>
  </extension>
-->
  <!-- And again for modeler <END> -->
   
  <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
    <specializationType
            id="org.eclipse.gmf.examples.runtime.diagram.label.WrappingLabelNote"     
            name="WrappingLabel"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
         <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
         <param name="semanticHint" value="WrappingLabelNote"/> 
    </specializationType>
    <specializationType
            id="org.eclipse.gmf.examples.runtime.diagram.label.GEFLabelNote"     
            name="GEF Label"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
         <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
         <param name="semanticHint" value="GEFLabelNote"/> 
    </specializationType>
    <specializationType
            id="org.eclipse.gmf.examples.runtime.diagram.label.OldWrapLabelNote"     
            name="OldWrapLabel"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
         <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
         <param name="semanticHint" value="OldWrapLabelNote"/> 
    </specializationType>
    <specializationType
            id="org.eclipse.gmf.examples.runtime.diagram.label.WrapLabelNote"     
            name="WrapLabel"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType">
         <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
         <param name="semanticHint" value="WrapLabelNote"/> 
    </specializationType>
  </extension>
   
  <!--extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <contribution
               factoryClass="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelPaletteFactory">
            <entry
                  label="LabelDrawer"
                  kind="drawer"
                  description="LabelDrawer"
                  path="/"
                  id="labelDrawer">
            </entry>
            <entry
                  label="New WrappingLabel"
                  kind="tool"
                  description="New WrappingLabel"
                  path="/labelDrawer/"
                  id="org.eclipse.gmf.examples.runtime.diagram.label.WrappingLabelNote">
            </entry>
            <entry
                  label="GEFLabel"
                  kind="tool"
                  description="GEFLabel"
                  path="/labelDrawer/"
                  id="org.eclipse.gmf.examples.runtime.diagram.label.GEFLabelNote">
            </entry>
            <entry
                  label="WrapLabel Delegating to New WrappingLabel"
                  kind="tool"
                  description="WrapLabel Delegating to New WrappingLabel"
                  path="/labelDrawer/"
                  id="org.eclipse.gmf.examples.runtime.diagram.label.WrapLabelNote">
            </entry>
            <entry
                  label="Previous WrapLabel"
                  kind="tool"
                  description="Previous WrapLabel"
                  path="/labelDrawer/"
                  id="org.eclipse.gmf.examples.runtime.diagram.label.OldWrapLabelNote">
            </entry>
         </contribution>
      </paletteProvider>
   </extension-->
	
   <extension 
   		id="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelViewProvider" 
   		name="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelViewProvider" 
   		point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelViewProvider">
         <Priority name="Low">
         </Priority>                
         <context 
         	viewClass="org.eclipse.gmf.runtime.notation.Node" 
         	semanticHints="GEFLabelNote, WrappingLabelNote, OldWrapLabelNote, WrapLabelNote, GEFLabel, WrappingLabel, OldWrapLabel, WrapLabel">
         </context>                     
      </viewProvider>
   </extension> 
   
   <extension 
   		id="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelEditPartProvider" 
   		name="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelEditPartProvider" 
   		point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="org.eclipse.gmf.tests.runtime.diagram.ui.label.LabelEditPartProvider">
         <Priority name="Low">
         </Priority>
         <object class="org.eclipse.gmf.runtime.notation.View" id="ShapesByType">
            <method 
            	name="getType()" 
            	value="GEFLabelNote, WrappingLabelNote, OldWrapLabelNote, WrapLabelNote, GEFLabel, WrappingLabel, OldWrapLabel, WrapLabel">
            </method>
         </object>
         <context views="ShapesByType">
         </context>
      </editpartProvider>
   </extension> 
   
	<!-- End Label Tests -->    
</plugin>
